/* 
    Document   : valentines-day
    Created on : Feb 8, 2013, 11:55:32 AM
    Author     : ilkay
    Description:
        Purpose of the stylesheet follows.
*/

.valentines-day-form-wrapper { background:url("../img/valentines_day/aligned_03.png") !important; float:none !important; margin:40px auto !important }
.valentines-day-form-fieldset { margin-top: 194px }
#style-profile { background: url("../img/valentines_day/survey-signup-bg.jpg") !important }
.valentines-day-form-fieldset p { margin-bottom: 9px; width:400px;}
form.new_user { margin-left: 0px !important}
.valentines-day-form-fieldset label { width: 155px !important }
.valentines-day-form-fieldset span { font-size: 10px; color:white;display: block; margin-left:112px}

.successMessageHeader { font-family: Oswald; font-size: 3.8em;color: #f2018a; text-align: center}
.successMessageDescription { font-family: Oswald; color: #414042;line-height: 35px;font-size: 27px; margin-top:30px}
.successMessageDescription .special-word { font-style: italic; color: #f2018a; }
.submitButton { margin-top: 3px !important}



