
/*BEGIN:styling of mediator.tpl ---- paymentoptions*/
.final_price {
    margin: 17px 0 0 254px;
    font-weight: bold;
    float: left;
}
.payment_details {
    margin: 0;
    border: none;
    width: 609px;
}
/*End:styling of mediator.tpl ---- payment options*/

/* The Payment Page[credit card details,pre-sales_agreement,sales_agreement*/
form {
    float:none;
}
 #payment_details {
    float: left;
    height: auto;
    width: 609px;
    border: none;
}
 fieldset  {
    margin-top: 12px;
}
span.payment_steps {
    color: #414042;
    font-size: 1.1em;
    font-weight: bold;
    width:100%;
}
#step_3,#step_4{
    float: left;
    margin:10px 0 10px;
    width: 650px;
}
#step_3 {
    position: relative;
    margin:0px auto;
    border-top: 1px solid #FAF5F5;
    border-bottom: 1px solid #FAF5F5;
}
.instal {
    width: auto;
}
#display-total {
    float: left;
    width: 100%;
}
#step_5{
    margin:10px 0 30px;
    width: 635px;
}

table#installment_details {
    width: auto;
    margin:0 auto;
}

table#installment_details thead tr td{
    color: #414042;
    text-align: center;
    padding:5px 0 0 10px;
    font-weight: bold;
}
table#installment_details thead tr th.gv_width {
    width:70px;
}
table#installment_details tr {
    height: 20px;
}
table#installment_details tr td{
    padding: 0 10px;
    text-align: center;
}

 #payment_method {
    margin: 15px 0 10px;
    background-color: #F6F6F6;
    border: 1px solid #EEEEEE;
}
#credit-top-left {
    float: left;
}
#credit-header{
    float:left;
    margin-left: 10px;
}
#credit-top-right {
    background: #F2018A;
    color: #FFF;
    font-size: 11px;
    font-weight: bold;
    line-height: 14px;
    padding: 4px 0;
    position: absolute;
    right: 29px;
    text-align: center;
    text-transform: uppercase;
    top: 13px;
    width: 118px;
}
 #payment_method h3 {
    font-size:14px;
    margin: 0;
    color:#444;
    font-family:arial;
    font-weight:bold;
    text-transform: uppercase;
}
.credit-card-entries {
    float: left;
    margin-bottom:10px;
    width: 100%;
}
.credit-card-icon-con{
    float:left;
    margin:-1px 0 0 9px;
}
.credit-card-icon-con > .icon-item{
    background:url(../../themes/butigo/img/cart/payments.png);
    display:block;
    width:38px;
    height: 25px;
    floaT:left;
    margin-left:2px ;
}

.credit-card-icon-con > .visa{
    background-position: 114px 102px;
}
.credit-card-icon-con > .visa.passive{
    background-position: 113px 77px;
}

.credit-card-icon-con > .master-card{
    background-position: -37px 0;
}
.credit-card-icon-con > .master-card.passive{
    background-position: -37px 76px;
}

.credit-card-icon-con > .amex{
    background-position: -75px 0;
}
.credit-card-icon-con > .amex.passive{
    background-position: 38px 25px;
}

.credit-card-entries img {
    margin-left: 223px;
    float: left;
}
.credit-label {
    float: left;
    margin: 0 15px 0 0;
    text-align: right;
    width: 190px;
}
.credit-input {
    float:left;
}
#credit-card-details {
    float: left;
    width: 100%;
    color: #444;
}
#credit-card-details span {
    font-size: 1em;
    font-weight: bold;
    line-height:1.4em;
    display: block;
    text-transform: uppercase;
}
.label-bottom-text,#credit-card-details .label-bottom-text {
    font-size: 0.85em;
    color:#8C8F91;
    font-weight: normal;
    line-height:1em;
    text-transform: none;
}
 #payment_method  fieldset input#ccname{
    width:215px;
}
 #payment_method  fieldset input#ccnum1, input#ccnum2, input#ccnum3, input#ccnum4 {
    border: 1px solid #E0E0E0;
    height: 15px;
    width: 68px;
}

 #payment_method  fieldset input#ccvv2{
    border: 1px solid #E0E0E0;
    height: 15px;
    width: 55px;
}
#new-checkout-cvv {
    float: right;
    height: 36px;
    margin: -1% 48% 0 0;
    width: 57px;
    background: url('img/slices-on-new-new-design.png');
    background-position: -3px 49px;

}
.select-new-checkout {
    background-color: #FFF;
    font-size: 12px;
    height: 23px;
    padding: 3px;
    width: 65px;
    margin: 0;
}
 .formContainer {
    border: 1px solid #d3d3d3;
    padding: 15px;
    float: left;
    width: 650px;
    position: relative;
}
 .sales_agreement iframe {
    float: left;
}
 .sales_agreement iframe {
    padding-top:0px;
    padding-bottom:10px;
    margin:10px 0 0 0;
    height: 90px;
    width:635px;
    overflow: scroll;
    overflow-x: hidden;
    overflow-y: scroll;
    overflow:-moz-scrollbars-vertical;
}
 .sales_agreement p,#order-conf p {
    font-size:0.9em;
}
 .check-agree, .check-agree-new-checkout {
    clear: both;
    float: left;
    width: 34%;
    margin: 10px 0 3px 215px;
}
.check-agree-new-checkout {
    width: 41%;
    text-align: center;
    margin: 27px 0 0 198px;
}
 .sales_agreement a, .check-agree-new-checkout a, .check-agree  a  {
    color: #F2018A;
    text-decoration: underline;
}
.checkout-agreement {
    margin-left: 55px;
}
a#show-instal-popup  {
    display: block;
    color: #EEEEEE;
}

#final_total {
    color: #8C8F91;
    float: left;
    font-weight: bold;
    margin: 6px 0 0 233px;
    width: 275px;
}
.font-pink {
    color: #F2018A;
    font-weight: bold;
}
#submit-payment {
    margin: 0 0 0 110px;
    position: relative;
    width: 58%;
}
.new-ckeckout {
    margin-left: 15px;
}

#submit-payment .checkout{
    position: absolute;
    top:36px;
    right: -5px;
}
.checkout {
    padding: 10px 80px 10px 80px;
}
/*The Payment Page*/
/*order-confirmation page*/

#order-confirmation #order-detail-content {
    float:left;
    margin:0 0 20px 0;
}
#order-confirmation div.cart_navigation {
    float: none;
    margin: auto;
    width: 135px;
}

h5.order_product_name {
    text-transform: uppercase;
}
#order-conf {
    float:left;
    padding: 30px 0 20px 0;
}

/*Order Confirmation Table*/
table#order_summary {
    width:960px;
}
table#order_summary tr.order_item  {
    height: 75px;
}
#order-confirmation table#order_summary tr td.order_product {
    padding: 0 0 0 20px;
}
#order-confirmation  table#order_summary thead th.order_product {
    padding: 0 0 0 20px;
}
#order-confirmation table#order_summary tfoot tr td.order_total_label {
    padding: 0 0 0 655px;
    text-transform: uppercase;
    text-align: left;
}
#order-confirmation table {
    border-collapse: collapse;
    border-spacing: 0;
}
table#order_summary thead tr{
    background-color:#eb059c;
    height:40px;
    text-align: left;
    color: #FFFFFF;
    font-size: 1.1em;
    font-family: Helvetica,inherit;
}

table#order_summary thead th.order_product {
    width:450px;
}
table#order_summary tr th.order_quantity {
    width:170px;
    padding: 0 0 0 15px;
}
table#order_summary tr th.cart_unit {
    width:240px;
}
table#order_summary tr th.order_total {
    padding: 0 10px 0 0;
    text-align: right;
    width: 100px;
}

table#order_summary tfoot tr{
    background-color:#eefaf9;
    height:35px;
}

table#order_summary tr.order_item td{
    border-bottom:1px solid #b2b2b2;
}
table#order_summary tr.last_item td {
    border:none;
}

table#order_summary tr td.order_total {
    padding: 0 10px 0 0;
    text-align: right;
}

tfoot tr td.order_total_price {
    padding: 0 20px 0 0;
    text-align: right;
}

table#order_summary td.order_unit span{
    color: #F2018A;
    font-size: 1em;
    font-weight: bold;
    text-transform: uppercase;
}
table#order_summary tr td.order_total,.order_discount_price {
    font-size:0.9em;
    font-weight: bold;
}
.order_total_price {
    font-weight: bold;
}
.order_total_label span {
    color: #F2018A;
}

td.order_quantity div.quantity_order {
    border: 1px solid #e5e5e5;
    float: left;
    margin: 0 8px;
    padding: 2px 0;
    text-align: center;
    width: 40px;
}
td.order_product div.product_image {
    float: left;
    border: 1px solid #e5e5e5;
}
td.order_product div.product_image a{
    display: block;
    height: 60px;
}
td.order_product div.about-product{
    float: left;
    padding: 15px 0 0 10px;
}

table#order_summary tr.order_discount,table#order_summary tr.shipping_cost {
    height:32px;
}
.order_discount_price {
    padding: 0 35px 0 0;
    text-align:right;
}
.shipping_cost td span {
    float: right;
    font-weight: bold;
    height: 32px;
}
.shipping-label{
    padding: 0 0 0 655px;
    vertical-align: -2px;
}
.pad_label {
    padding: 0 0 0 14px;
}
/*Installment Details*/
#order-confirmation table#order_summary tr.installment-details{
    height: 30px;
    text-align: left;
}
#order-confirmation table#order_summary tr.installment-details .installment-label{
    padding: 0 0  0 655px;
}
/*Discount Details*/
.discount-description{
    padding: 0 0 0 655px;
    text-align: left;
}
/*The payment_error page styling begins here*/
 .errorContainer {
    float: left;
    margin:20px 0 0 0;
}
/*The payment_error page styling ends here*/

/* Payment List*/
.payment-list {
    margin:15px auto 100px;
    /*width: 100%;*/
}
.payment-list-item {
    float: left;
    margin: 0 28px 0 0;
    border: 2px solid #B2B2B2;
    cursor: pointer;
}
.payment-list-item img{
    padding: 10px 15px;
}

/*Popup installment CSS Start*/
#popup-installment{
    margin: auto;
    width: 800px;
    height: 600px;
}
.pop-bank-instal{
    float: left;
    padding: 0;
    margin: 10px 7px;
    
    
}
.pop-bank-div{
    background: #01C2FB;
    border-radius: 0 0 1em 1em;
}
.pop-bank-instal table{
    width: 218px;
    border-collapse: collapse;
    border-spacing: 0;
    color: #fff;
    border-radius: 0 0 1em 1em;
}
.pop-bank-instal table thead{
    border-collapse: collapse;
    border-spacing: 0;
    line-height: 7px;
}
.pop-bank-instal table tr{
    width: 100px;
    font-size: 12px;
}
.pop-bank-instal thead td{
    text-align: center;
    border-collapse: collapse;
    border-spacing: 0;
}
.pop-bank-instal table tr.helight_0 {
    background: url('img/finans_bg.jpg');
}
tr.helight_1 {
    background: url('img/bonus_bg.jpg');
}
tr.helight_2 {
    background: url('img/world_bg.jpg');
}
tr.helight_3 {
    background: url('img/akbank_bg.jpg');
}
tr.helight_4 {
    background: url('img/pgi_bg.jpg');
}
.first-td {
    float: left;
    width: 90px;
    padding: 8px 0 0 2px;
}
.next-td {
    float: left;
    height: 26px;
    padding: 8px 0 0 5px;
    width: 55px;
}
.pop-bank-instal table thead{
    height: 0px;
}
/*Popup installment CSS End*/

/*Turkcell CSS*/
#turkcell-logo {
    height: 70px;
    width: 205px;
}
#turkcell-checkout{
    margin: 0 235px;
}
#turkcell-banner {
    height: 109px;
    width: 120px;
    margin-top: 25px;
    margin-right: 25px;
}
#turkcell-agree {
    margin-left: 45px;
}

.tcw #fancybox-bg-n, .tcw #fancybox-bg-ne, .tcw #fancybox-bg-nw,
.tcw #fancybox-bg-s, .tcw #fancybox-bg-se, .tcw #fancybox-bg-sw,
.tcw #fancybox-bg-e, .tcw #fancybox-bg-w {
    background-image: none;
}
.tcw #fancybox-outer {
    background: none;
}
.errorContainer a.buttonsmall {
    margin: 18px 0 15px 6px;
    padding: 1em;
    float: left;
}

/*Order Success Page social links*/
.order-success-social-link{
    margin: 20px 505px 0 0;
}

.order-success-social-link ul li h4{
    color: #F2018A;
    text-transform: uppercase;
    font-family: 'Oswald';
    font-size: 1.8em;
    font-weight: normal;
    line-height: 1em;
    margin: 0 30px 0 0;
}
.order-success-social-link ul li h4 span{
    color: #000;
}

.blue-text{
    color:#01C2FB;
    font-weight: bold;
}
#order-conf .order-success-data h4{
    font-family: 'Oswald';
    font-size: 24px;
    font-size: 1.8em;
}

#order-conf .order-success-data h4 span.grey-text{
    color: #b2b2b2;
}
#order-conf .order-success-data p{
    color: #000000;
    font-size: 13px;
    margin: 10px 0 0;
    width: 100%;
}
/*Order Success Page social links*/

.popup_text{
    padding: 187px 0 0 179px;
    width: 306px;
}