/*
    Document   : productfilter
    Created on : 28 Nov, 2012, 3:27:03 PM
    Author     : gangadhar
*/

span.color-checkbox {
    height: 10px;
    width: 10px;
    border:0.5px #D7D7D7 solid;
    display:block;
}

.loading {
    background: url("../../../img/loading.gif") no-repeat center center;
    background-color: #fff;
    width: 790px;
    min-height: 350px;
}
.mask-shoe-size-list{
    background: url("../../../img/loading.gif") no-repeat center center;
    background-color: #fff;
    height: 50px;
    width: 50px;
}

ul.shoe-size-list li span, ul.color-list li span {
    font-weight: normal;
    padding: 0 0 0 5px;
    text-transform: none;
}
p#filter-option-color span, .filter span {
    font: bold 1.25em arial;
    vertical-align: -2px;
    padding: 0 0 0 3px;
    color:#000;
}

#filter-option-shoesize h3{
	font: bold 1.25em arial;
    vertical-align: -2px;
    color:#000;
	margin:0px 0px 0px 0px;
}

#filter-option-shoesize span{
	padding: 0 0 0 3px;
}


p#filter-option-shoesize,p#filter-option-color {
    margin:0;
}

#filter-option-color {
    border-top: 1px solid #D7D7D7;
}
ul.shoe-size-list, .filter ul {
    margin: 5px 0 0 7px;
}
.filter {
    margin: 10px 0 0 0;
}

.filter p {
    margin-bottom: 0;
}
.show-more-tags{
	color:#F2018A;
}

.show-more-tags:hover{
	cursor: pointer;
}