#fav {
	float: left;
    margin: 5px 0 0 10px;
    width: 35px;
}

/*a.favorite_flag{
    margin-left: 5px;
    margin-top: 20px;
}*/

#fav .favorite_flag {
	background: url("../../../img/buttons/favorite.png") no-repeat scroll 0 0 transparent;
    display: inline-block;
    height: 27px;
    margin: 2px 0 0 5px;
    text-decoration: none;
    width: 33px;
	position: relative;
}
#fav .favorite_flag:hover ,#fav .in_myfavorite {
	 background-color: #F2108A;
}

#fav .in_myfavorite:hover {
	background-color: #FFFFFF;
}

#fav .favorite_flag span{
    background: url("../../../img/buttons/bg_favorite_hint.png") no-repeat scroll 0 0 transparent;
    display: none;
    font-size: 11px;
    font-style: normal;
    height: 36px;
    left: -76px;
    line-height: 1;
    margin: 0;
    padding: 13px 0 0 13px;
    position: absolute;
    top: -12px;
    width: 80px;
	color: #F2108A;
}

#fav .favorite_flag span img
{
	margin-left: 3px;
}

.favorite_flag , .qv_favorite_flag{
    background: url("../../../img/buttons/favorite_flag.png") no-repeat scroll left top #FFFFFF;
    display: block;
    float: left;
    height: 13px;
    margin: 3px 0 0 5px;
}

.favorite_flag:hover, .in_myfavorite {
    background-position: left bottom;
}

#fb_like #fav_text{
	background-position: right center;
	left:20px;
	top: -3px;
}
a.qv_favorite_flag {
	width:100%;
	margin: 0;
}

#fav_text {
	position: relative;
	left: 20px;
	color: #7D7D7D;
    font-family: Arial;
    font-size: 12px;
	top:-2px;
}

#lookbook .favorite_flag, #celebrity .favorite_flag, #celebrity2 .favorite_flag, #showroom .favorite_flag, #reduced .favorite_flag, #cloth .favorite_flag{
	width:15px;
	margin-left:5px;
    margin-top: 2px;
}

/*my-favourites page*/
.delete_fav_product {
	float: right;
    position: relative;
	height: 0;
    top: 10px;
}

.delete_fav_product span {
	background: url("../../../img/buttons/del_myfavorites.png") no-repeat  0 0;
	text-indent: -999999px;
    height: 18px;
    position: absolute;
    right: 8px;
    top: 0;
    width: 17px;
	cursor: pointer;
}
#customer_favourite_shoes {
    margin: 30px 0 0;
}
/*my-favourites page*/