.accordion .first {
    margin-bottom: 7px;
}

.accordion .bottom {
    border-bottom: 1px solid #DDD;
}
.accordion .loading, .loading {
    display: none;
}
.accordion {
    width:  100%;
}
.accordion h6 {
    border-top: 1px solid #DDD;
    /*float: left;*/
    width: 100%;
    line-height: 3em;
    /*display: block;*/
    padding: 0px 5px;
    font-size: 0.9em;
    font-weight: normal;
    cursor: pointer;
    outline: none;
}
#accordion-sub-title {
    font-size: 11px;
    color: #6D6E71;
    font-weight: bold;
}
.accordion h6 span {
    background: url("../img/product/accordeon_right.gif") no-repeat;
    display: block;
    float: right;
    width: 5px;
    line-height: 5px;
    margin-top: 14px;
}
.accordion h6.ui-state-active span {
    background: url("../img/product/accordeon_bottom.gif") no-repeat;
}
.accordion .accordionShippingInfo {
    float: left;
    padding: 0 2%;
    width: 96%;
}
.accordion_links {
    margin-left: 10px;
    margin-bottom: 7px;
    text-decoration:underline;
    font-size: 11px;
    color: #6D6E71;
    font-weight: bold;
}
#accordion_links_span {
    margin-left: 10px;
    margin-bottom: 7px;
    font-size: 12px;
    color: #6D6E71;
}
