
/* authentication.tpl */
#second-header h2{
	font-family: arial;
	font-weight: bold;
}
#signin_rightcontent_container {
/*	width:100%;
	min-height:550px;*/
/*	display: block;
	overflow: hidden;
	clear: both;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -238px 0 0 -360px;
	width: 720px;
	padding: 80px 0 20px;*/

	float: left;
    margin-left: 100px;
    position: absolute;
    width: 720px;
	/*margin: 88px 0px 0px 120px;*/
}
.signin {
	/*background: url("../img/signin/bg_signin_pink.jpg") no-repeat top center;*/
}
.frnd {
	background: url("../img/signin/bg_signin_ref.jpg") no-repeat top center;
}
/*#right-content styling begins here*/
#right-content {
	ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=85)";
	filter: alpha(opacity=85);
	float: left;
	width:300px;
	height:360px;
	background-color :#ffffff;
	margin: 40px 0 0 20px;
    position: relative;
	background-color: rgba(255, 255, 255, 0.85);
}
#right-content h3{
/*	background: url("../img/signin/signin_sprite.png") no-repeat scroll 0 -25px transparent;
	 height:27px;
	 width:173px;*/
	 font-family: arial;
	 font-size: 34px;
	 font-weight: bold;
	 color: #363636;
	 margin-left:33px;
	 /*text-indent:-999999px;*/
}
#right-content p{
	/*background: url("../img/signin/signin_sprite.png") no-repeat scroll 0 -52px transparent;*/
    color: #949494;
	font-family: arial;
    font-size: 23px;
	font-weight: normal;
	line-height: 29px;
    height: 133px;
    margin: 24px 50px 22px 35px;
    /*text-indent: -99999px;*/
    position: relative;
}
/*right-content styling ends here */


/*sign-in styling begins here*/
#style-profile .exclusive_p, #right-content .exclusive_p {
	line-height: 1.2em;
}
#sign-in {
	ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=85)";
	filter: alpha(opacity=85);
	background-color :#ffffff;
	float: left;
    width: 300px;
	min-height: 360px;
    margin: 40px 0 0 70px;
	background-color: rgba(255, 255, 255, 0.85);
}
#sign-in form{
 margin: 0 40px 0 25px;
}
#sign-in fieldset {
	border: none;
}
#sign-in h3 {
/*	 background: url("../img/signin/signin_sprite.png") no-repeat;
	 height:26px;
	 width:110px;
	text-indent:-999999px;*/
	font-family: arial;
	font-size: 34px;
	font-weight: bold;
	color: #363636;
}
#sign-in p {
	margin:15px 0 0 0px;
	font-size: 1.1em;
}
#sign-in p.enter-passwrd {
	margin: 7px 0 0 0;
}
#sign-in label {
	float: left;
	width: 125px;
	color: #000000;
	font-family: arial;
	font-size:13px;
	font-weight: bold;
	margin-bottom: 5px;
}
#sign-in input[type="text"], #sign-in input[type="password"] {
    width: 238px;
	padding: 0;
	margin: 0 0 5px;
	border-radius: 3px;
	height: 26px;
	background-color: #ffffff;
	border: 0px;
}

#sign-in input[type="submit"]{
	border-radius: 7px;
/*	height: 36px;*/
	font-size: 15px;
	text-transform: none;
}

#sign-in hr {
	width: 395px;
	margin: 13px 0 0 0;
	background-color:#F643C6;
}
#sign-in a#forgot {
	display:block;
	font-family: arial;
	font-weight: normal;
	font-size: 13px;
	color: #f2018a;
	margin-left:24px;
	margin-bottom:15px;
	margin-top:10px;
	float:left;
	text-decoration: underline;
    width: 85%;
}
#authentication #rightcol h3 {
	margin: 0 0 20px;
}
#authentication #rightcol p {
	font-size: 1.1em;
	width: 90%;
}
#authentication #rightcol em{
	float: left;
    font-size: 0.85em;
    font-style: italic;
    margin: 0 0 20px;
    width: 90%;
	color: #6D6E71;
}
#successheading{
	font-size: 12px;
	width:35px;
	height:auto;
/*	margin-left: 12px;*/
	text-transform: uppercase;
}
.error
{
    padding: 15px 15px 38px;
}
.success
{
  padding: 15px 15px 40px;
}
#authentication #right-content .buttonmedium{
    left: 35px;
    position: relative;
    top: -8px;
	/*height:16px;*/
	font-size: 15px;
	border-radius: 7px;
	text-transform: none;
}

#fblogin {
    float: left;
    height: 25px;
    margin: 1px 0 20px 24px;
    position: relative;
    width: 99px;
    z-index: 1;
}

#loginbg{
	background: url('../img/login-background.jpg') center top;
	background-position: center top 154px;
	background-position-y: 154px;
	position: relative;
	min-height: 806px;
	height: 100%;
	width : 100%;
	background-repeat: no-repeat;
	background-size: contain;
}

/*sign-in  styling ends here */