/*shopping cart styling begins here*/
#cart_empty {
    margin: auto;
    width: 380px;
}
#order #order-detail-content{
    float:left;
}
#order table {
    border-collapse: collapse;
    border-spacing: 0;
}

table#cart_summary {
    width:960px;
}
table#cart_summary thead tr {
    background-color:#222;
    height:40px;
}
table#cart_summary tfoot tr {
    background-color:#eefaf9;
    height:35px;
}
table#cart_summary thead th {
    text-align: left;
    color: #FFFFFF;
    font-size: 1.1em;
    font-family: Helvetica,inherit;
}
/*table#cart_summary thead th , table#order_summary thead th {
        font-size: 1.1em;
        font-family: Helvetica,inherit;
}*/
table#cart_summary thead th.cart_delete {
    width:50px;
    padding: 0 0 0 1em;
}
table#cart_summary tr th.cart_total {
    text-align: center;
    width: 123px;
}
table#cart_summary thead th.cart_product {
    width:450px;
}
table#cart_summary tr th.cart_unit {
    width:170px;
}
table#cart_summary tr th.cart_quantity {
    width:140px;
    padding: 0 0 0 15px;
}
table#cart_summary tr td.prod_delete {
    padding: 0 0 0 17px;
}
table#cart_summary tr td.cart_unit  {
    padding: 0 0 0 13px;
}
table#cart_summary tr td.cart_total {
    padding: 0 15px 0 0;
    text-align: right;
}
table#cart_summary tfoot tr td.cart_total_label  {
    text-align: right;
    padding: 0 70px 0 0;
}
table#cart_summary tfoot tr td.cart_total_price {
    padding: 0 20px 0 0;
    text-align: right;
}
/*voucher*/
#voucher {
    background:  #DFE4E4;
    float: left;
    height: 28px;
    padding: 7px 65px 0;
    width: 455px;
}
#voucher_code {
    float: left;
    width: 253px;
}

#cart_total{
    background:#EEFAF9;
    float: left;
    height: 27px;
    padding: 8px 0 0 30px;
    width: 325px;
}

#cart_total .cart_total_label {
    float: left;
    width: 240px;
}
.cart_total_label {
    font-weight: bold;
}
table#cart_summary .cart-price{
    text-align: right;
    padding: 0 15px 0 0;
    font-weight: bold;
}
/*.auto_margin {
        margin: auto;
        width:400px;
}*/
p.zero_mar {
    margin: 0px;
}
#cart_voucher {
    float: left;
    width: 344px;
}
#cart_voucher label {
    float: left;
    font-size: 0.8em;
    line-height: 1em;
    margin: 0 10px 0 0;
    width: 39%;
    color: grey;
}
#cart_voucher input {
    border: medium none;
    width: 140px;
}
#cart_voucher span {
    float: left;
    font-size: 0.8em;
    line-height: 1.5em;
    text-transform: uppercase;
    width: 78px;
}
#submitVoucher {
    float: left;
    width:100px;
    margin: 0 0 0 10px;
}
/*voucher*/
.cart_total_label span,span.cart_total_label,#cart_voucher span {
    color: #f2018a;
    margin-right: 10px;
}
table#cart_summary tr {
    height: 90px;
}
.product-item{
    border-bottom:1px solid #b2b2b2;
}
.product-item.last_item {
    border:none;
}

h5.cart_product_name a,table#cart_summary td.cart_unit span {
    color: #f2018a;
    font-size: 1em;
    font-weight: bold;
    text-transform: uppercase;
}
table#cart_summary td.cart_unit span,
table#cart_summary tr td.cart_total,
.cart_total_price,tr td span.cart_1_discount_value,.price-discount {
    font-size:0.9em;
    font-weight: bold;
}
/*tr.cart_1_discount div {
        margin: 0 0 23px;
}*/

table#cart_summary  tr.cart_total_delivery {
    height: 35px;
}
table#cart_summary  tr.cart_total_delivery #total_shipping {
    padding: 0 15px 0 0;
    text-align: right;
    font-weight: bold;
    font-size: 0.9em;
}
tr.cart_1_discount td, .cart_discount td, tr#butigo_info td {
    padding-bottom: 12px;
}
.cart_discount_delete {
    padding-left:17px;
}

/*tr.cart_1_discount td*/ span.cart_1_desc,.cart_discount_description/* , #butigo_info span.cart_1_desc*/{
    background-color: #01C2FB;
    float: left;
    height: 32px;
    line-height: 2.3em;
    text-align: center;
    width:790px;
    font-size: 1.1em;
}
#butigo_info span.cart_1_desc {
    background-color: #FF7200;
    font-weight: bold;
    width: 100%;
    color: white;
}

.submit_total{
    float: left;
    text-align: right;
    width:102px;
}
.cart_1_discount_value {
    float: left;
    text-align: right;
    width:102px;
}
.cart_discount_description {
    background-color: #DFE4E4;
}
.cart_1_discount_value,.price-discount {
    line-height: 2.8em;
    float: right;
    padding:  0 28px 0 0;
}
tr.cart_1_discount td span#cart_discount_clock {
    background-color: #F63FC5;
    float: left;
    font-size:1.8em;
    height: 32px;
    line-height: 1.3em;
    text-align: center;
    width:95px;
    margin: 0 5px;
    border-right: 1px solid #000000;
    border-left: 4px solid #000000;
}
td.cart_quantity a.cart_quantity_down {
    float: left;
}
td.cart_product div.product_image {
    float: left;
    border: 1px solid #e5e5e5;
}
td.cart_product div.product_image a {
    display: block;
    height: 60px;
}
td.cart_product div.about-product {
    float: left;
    padding: 15px 0 0 10px;
}
td.cart_quantity div.quantity_cart {
    border: 1px solid #e5e5e5;
    float: left;
    margin: 1px 3px 0;
    /*padding: 2px 0;
    text-align: center;
    width: 40px;*/
}
td.cart_quantity div.quantity_cart input {
    border: medium none;
    text-align: center;
    font-size: 1.1em;
}
div.cart_navigation {
    float:left;
    margin: 25px 0 0;
    width:100%;
}
/*.btn_cont_shopping {
    background: url("../img/buttons/back-showroom-btn.png") no-repeat 0 0;
    height:40px;
    width:222px;
    display:block;
        margin:5px auto;
}*/
.back_showroom {
    background: url("../img/buttons/back-showroom-btn2.png") no-repeat 0 0;
    height:25px;
    width:152px;
    display:block;
    /*	margin:5px auto;*/
}
/*div.cart_navigation .btn_cont_shopping {
        float: left;
        margin: 0;
}*/
/*div.cart_navigation .ctn-button {
    background: url("../img/buttons/place-order.jpg") no-repeat 0 0;
    float:right;
    width: 212px;
    height: 40px;
    border: none;
}*/
div.cart_navigation .place-order {
    background: url("../img/buttons/place-order1.jpg") no-repeat 0 0;
    float:right;
    width: 152px;
    height: 25px;
    border: none;
    margin-top: -27px;
}
.shopping-cart hr {
    background-color:#b2b2b2;
}
img.cart-bottom  {
    margin-top: 30px;
}


#cart_product_prices {
    border: 5px solid #ffa4cf;
    padding: 12px;
    width: 100%;
}
tr td.pricelabel {
    width:65%;
}

tr.place_order div.place_order_button {
    float: left;
    width: 50%;
}
tr.place_order div.apply_credit {
    float: right;
    width: 50%;
    text-align: right;
}
.apply_credit a {
    color:#F643C6;
    font-weight: bold;
    font-size: 1.2em;
}
/* button chnges through css */

/*.cart_navigation #placeorderbtn .buttonsmall{
 float: right;
 padding: 0.8em 2.5em 0.75em;

}
.cart_navigation a #backaddress .buttonmedium{
float: left;
padding: 0.8em 1.5em 0.75em;

  }*/


/*shopping cart styling ends here*/

/*Accessory Details*/
.accessory-heading{
    color: #F2018A;
    font-size: 20px;
    text-align: center;
    width: auto;
}
.accessories-details-container{
    float: left;
    height: 150px;
    margin: 20px auto 10px;
    width: 960px;
    position: relative;
}
.accessories-product-banner{
    height:100px;
    width:100%;
    float:left;
    position:relative
}
.accessories-product-banner:hover{
    cursor: pointer;
}
.accessories-product-list{
    height:150px;
    margin:auto;
}
.accessories-product{
    width:119px;
    float:left;
    position:relative
}
.accessories-product > img{
    padding:10px 10px 0 10px;
}
.accessories-product span{
    display:block;
    width: 100%;
    margin: 0 -10px;
}
.accessories-product span .accessory-name{
    float: left;
    text-align: center;
    width: 100%;
}
.accessories-product span .accessory-price{
    color: #F2018A;
    float: left;
    text-align: center;
    width: 100%;
}
.accessories-product span img{
    margin:0 50px;
}

/* Tiny Carousel */
#slider1 {
   height: 150px;
   overflow:hidden;
   margin:10px 28px;
}
#slider1 .viewport {
    float: left;
    width: 900px;
    height: 150px;
    overflow: hidden;
    position: relative;
}
#slider1 .buttons {
    display: block;
    text-indent: -999em;
    float: left;
    width: 35px;
    height: 40px;
    overflow: hidden;
    position: relative;
}

#slider1 .prev {
    background:url("../img/cart/left.gif") no-repeat scroll 0 0 transparent;
    background-position: 0px 0px;
    margin: 50px 0 0 0;
}

#slider1 .next {
    background:url("../img/cart/right.gif") no-repeat scroll 0 0 transparent;
    background-position: 0px 0px;
    margin: 50px 0 0 0;
}

#slider1 .disable {
    opacity: 0.5;
    cursor: auto;
}
#slider1 .overview {
    list-style: none;
    position: absolute;
    padding: 0;
    margin: 0;
    min-width: 960px;
    left: 0 ;
    top: 0;
}

#slider1 .overview li{
    float: left;
    height: 150px;
    /*border: 1px solid #dcdcdc; */
    width: 119px;
    position:relative
}

#slider1 ul.overview li span{
    display:block;
    width: 100%;
    margin: 0 -10px;
}

#slider1 ul.overview li span label.accessory-name{
    float: left;
    text-align: center;
    width: 100%;
}
#slider1 ul.overview li span .accessory-price{
    color: #F2018A;
    float: left;
    text-align: center;
    width: 100%;
}
#slider1 ul.overview li img{
    padding:0px 10px;
}
#slider1 ul.overview li span img{
    margin:0 50px;
}

.passive-product{
    background-color: #FFF0FA;
}

.disabled-product{
    background-color: #FFF0FA;
}

.cart_quantity > *{
    float: left;
}
.mini-arrow {
    background: url(../img/cart/arrows-mini.png);
    width:9px;
    height: 24px;
    display: block;
}
.mini-arrow.left-arrow{
    background-position: 0 0;
}
.left-arrow-passive{
    background-position: 0 -25px;
}

.mini-arrow.right-arrow{
    background-position: -9px 0;
}
.mini-arrow.right-arrow-passive{
    background-position: -9px -25px;
}
.cart_quantity_input{
    margin-top:0;
}
.cart_item{
    position: relative;
}

.cart_product .error-message{
    position: absolute;
    width: 100%;
    position: absolute;
    margin-top: 5px;
}
.cart_product .pre-order-error-message {
    color: #ff0000;
}
.about-product > .info-con{
    height: 31px;
}
