#cart-container {
    float: left;
    height: auto;
    margin-top: 20px;
    width: 70.5%;
}
#cart-details-title {
    background-color: #F6F6F6;
    border-bottom: 1px solid #E6E6E6;
    height: 20px;
    padding: 2px 0 0;
    width: 100%;
}
#title-products, #title-unit-price, #title-quantity, #title-total-price {
    color: #6D6D6D;
    float: left;
    font-size: 0.76em;
    font-weight: bold;
    text-transform: uppercase;
    width: 53%;
}
#title-products span {
    padding-left: 10px;
}
#title-unit-price {
    text-align: center;
    width: 10%;
}
#title-quantity {
    text-align: center;
    width: 22%;
}
#title-total-price {
    text-align: right;
    width: 15%;
}
#title-total-price span {
    padding-right: 10px;
}
.product-container-outer {
    border-bottom: 1px solid #EEE;
    float: left;
    font-size: 11px;
    margin-top: 15px;
    width: 100%;
}
.pink-background {
    background: #FFE1F0;
    height: 129px;
}
.product-name-image, .product-unit-price, .product-quantity, .product-total-price {
    float: left;
    width: 53%;
    color: #888;
}
.product-unit-price, .product-total-price {
    font-weight: bold;
    color: #666;
}
.product-image {
    float: left;
    margin: 0 10px 0 0;
}
.product-name, .product-attr {
    float: left;
    font-weight: bold;
    width: 58%;
}
.product-name a {
    font-size: 11px;
    color: #46D3FC;
    text-transform: uppercase;
}
.product-attr {
    margin-top: 5px;
    font-size: 9.8px;
    color: #666;
}
.product-unit-price {
    text-align: center;
    width: 10%;
}
.product-quantity {
    width: 22%;
    margin: 5px 0 0
}
.error-message-new-checkout {
    color: #ff0000;
}
.qty-vary {
    border: 1px solid #E5E5E5;
    clear: both;
    display: block;
    height: 10px;
    margin: 0 auto;
    text-align: center;
    width: 18px;
}
.qty-remove-outer {
    margin: 2px auto;
}
.qty-remove {
    color: #8C8F91;
    display: block;
    font-size: 9px;
    margin: 2px 0 0 50px;
    text-decoration: none;
    width: 60px;
    line-height: 15px;
}
.qty-remove span {
    background: url('../img/cart/stripe.png') no-repeat  -46px -8px  transparent;
    float: left;
    height: 15px;
    width: 18px;
}
.product-total-price {
    text-align: right;
    width: 15%;
}
.product-total-price span {
    padding-right: 10px;
}
#discount-container-outer {
    float: left;
    margin-top: 20px;
    width: 100%;
}
#discount-container-inner{
    color: #8C8F91;
    width: 46%;
    float: right;
}
#discount-label {
    float: left;
    width: auto;
    font-size: 11px;
    color: #787878;
}
#discount-input {
    float: left;
    width: 145px;
    height: 14px;
    margin-left: 5px;
    border: 1px solid #E5E5E5;
}

#discount-submit, .continue-shopping, .qty-refresh {
    background: #F1F2F4;
    color: #8C8F91;
    text-align: center;
    text-transform: uppercase;
    border: 1px solid #e0e0e0;
    background: -webkit-gradient(linear, left top, left bottom, from(#FBFBFB), to(#EEE));
    background: -webkit-linear-gradient(top, #FBFBFB, #EEE);
    background: -moz-linear-gradient(top, #FBFBFB, #EEE);
    background: -ms-linear-gradient(top, #FBFBFB, #EEE);
    background: -o-linear-gradient(top, #FBFBFB, #EEE);
    background: linear-gradient(to bottom, #FBFBFB, #EEE);
    filter:  progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#FBFBFB, endColorstr=#eeeeee); /* IE6 & IE7 */
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#FBFBFB', endColorstr='#eeeeee')"; /* IE8 */
}
#discount-submit {
    float: left;
    height: 18px;
    font-size: 9px;
    font-weight: bold;
    margin-left: 5px;
    width: 66px
}
.qty-refresh {
    clear: both;
    font-size: 9px;
    height: 21px;
    margin: 5px 0 0 46px;
    width: 60px;
}
.cart-discount-container-outer, .cart-discount-desc{
    float: left;
    font-size: 11px;
    margin: 5px 0;
    width: 100%;
}
.cart-discount-desc {
    background: #E9E9E9;
    width: 63%;
    margin: 0;
}
.cart-discount-desc span {
    font-size: 11px;
    color: #666;
    line-height: 16px;
    padding-left: 8px;
}
.cart-discount-del {
    float: left;
    width: 18%;
}
.cart-discount-value {
    float: left;
    font-size: 11px;
    font-weight: bold;
    text-align: right;
    width: 17%;
    color: #666;
}
.continue-shopping {
    float: left;
    font-size: 10px;
    font-weight: bold;
    padding: 4px 12px;
    text-transform: uppercase;
    width: 127px;
}
#right-container-header, #right-container {
    float: right;
    width: 23%;
    height: auto;
    background-color: #F6F6F6;
    margin-top: 20px;
}
#right-container {
    background: none;
}
#order-summary-title {
    float: left;
    font-size: 10px;
    text-transform: uppercase;
    color: #8C8F91;
    margin: 2px 0 0 5px;
}
.order-details-outer {
    float: left;
    width: 100%;
    font-size: 12px;
    color: #8C8F91;
    padding: 10px 0 0 5px;
    line-height: 11px;
}
.order-details-left {
    width: 73%;
}
.order-details-right {
    float: right;
    width: 27%;
}
#order-total-outer {
    float: left;
    width: 100%;
    font-size: 13px;
    color: #8C8F91;
    padding: 25px 0 0 5px;
    line-height: 11px;
}
#order-total-price-left {
    width: 71%;
    float: left;
    font-weight: bold;
}
#order-total-price-right {
    float: right;
    width: 27%;
    font-weight: bold;
}
.shipping-details-tool-tip {
    float: left;
    width: 100%;
    font-size: 9.5px;
    color: #81addc;
    padding: 0px 0 0 9px;
    line-height: 0;
}
#secure-checkout-outer {
    float: left;
    width: 100%;
    height: auto;
    color: #333;
    background-color: #E9E9E9;
    padding: 6px 0 9px 3px;
}
#secure-checkout-label {
    width: 100%;
    color: #333;
    font-size: 12px;
    font-weight: bold;
    background: none;
}
.secure-checkout-img {
    background: url("../img/cart/stripe.png") no-repeat scroll -62px -8px transparent;
    float: left;
    height: 15px;
    margin: 7px 6px 0 4px;
    width: 16px;
}
#secure-checkout-details {
    float: left;
    width: auto;
    color: #333;
    font-size: 11px;
    font-weight: normal;
    background: none;
    line-height: 11px;
}
.continue-button, #submit-address-payment {
    background: -webkit-gradient(linear, left top, left bottom, from(#EF5BA1), to(#F2018A));
    background: -webkit-linear-gradient(top, #EF5BA1, #F2018A);
    background: -moz-linear-gradient(top, #EF5BA1, #F2018A);
    background: -ms-linear-gradient(top, #EF5BA1, #F2018A);
    background: -o-linear-gradient(top, #EF5BA1, #F2018A);
    background: linear-gradient(to bottom, #EF5BA1, #F2018A);
    color: #FFFFFF;
    /* IE6 & IE7 */
    filter:  progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#EF5BA1, endColorstr=#F2018A);
    /* IE8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#EF5BA1', endColorstr='#F2018A')";
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    margin-top: 8px;
    outline: medium none;
    padding: 10px 0;
    text-align: center;
    text-decoration: none;
    text-shadow: 0.1em 0.1em #777777;
    text-transform: uppercase;
    vertical-align: baseline;
    width: 100%;
}
#submit-address-payment {
    text-shadow: 0 0.1em #FFF;
    padding: 10px 32px 10px 30px;
    width: 75%;
}
.continue-button:hover, #submit-address-payment:hover {
	background: #f2018a;
	background: -webkit-gradient(linear, left top, left bottom, from(#f2018a), to(#f2018a));
	background: -moz-linear-gradient(top, #f2018a, #f2018a);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f2018a', endColorstr='#f2018a');
}
#payment-checkout {
    display: none;
}
#continue-button-step1 {
    float: left;
    line-height: 22px;
    text-align: right;
    width: 80%;
}
#cart-img{
    background: url("../img/cart/stripe.png") no-repeat scroll 7px -2px transparent;
    display: block;
    float: left;
    height: 19px;
    width: 35px;
}
.safe-secure-tool-tip {
    color: #46D3FC;
    float: left;
    font-size: 0.8em;
    font-weight: bold;
    line-height: 9px;
     padding: 1px 0 0 5px;
    width: 90px;
}
.right-cart-details-table {
    padding-left: 7px;
    width: 100%;
}
/* tooltip -- BEGINS*/
.tooltip {
    position: relative;
}
.tooltip img {
    position: relative;
    top: 3px;
    cursor: pointer;
}
.tooltip span {
   background: none repeat scroll 0 0 #FFF;
    border: 1px solid #DDD;
    border-radius: 2px 2px 2px 2px;
    color: #888;
    display: none;
    font-size: 9px;
    left: 8px;
    line-height: 12px;
    padding: 5px 10px;
    position: absolute;
    top: -10px;
    width: 125px;
    z-index: 100;
    font-weight: normal;
}
.tooltip span:before{
    content:'';
    display:block;
    width:0;
    height:0;
    position:absolute;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-right:8px solid #eee;
    left:-8px;
    top:19px;
}
.tooltip:hover {
    font-size: 99%; /* this is just for IE */
}
.tooltip:hover span {
    display: block;
}
/* tooltip -- ENDS*/

.buttonmedium {
    width: auto;
}
#bmg-text-bold {
    color: #6D6D6D;
    float: left;
    font-size: 12px;
    font-weight: bold;
    margin-top: 12px;
    text-transform: uppercase;
}
#bmg-bold-text {
    height: 1px;
}
.bmg-text {
    float: left;
    width: 100%;
    font-size: 11px;
    color: #6d6d6d;
}
/* tooltip -- BEGINS*/
.tool-tip {
    position: relative;
    text-transform: none;
}   
.tool-tip img {
    position: relative;
    top: 3px;
    cursor: pointer;
}
.tool-tip span {
   background: none repeat scroll 0 0 #FFF;
    border: 1px solid #DDD;
    border-radius: 2px 2px 2px 2px;
    color: #888;
    display: none;
    font-size: 9px;
    font-weight: normal;
    left: 23px;
    line-height: 12px;
    padding: 5px 10px;
    position: absolute;
    top: -22px;
    width: 140px;
    z-index: 100;
}
.tool-tip span:before{
    content:'';
    display:block;
    width:0;
    height:0;
    position:absolute;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-right:8px solid #eee;
    left:-8px;
    top:19px;
}
.tool-tip:hover {
    font-size: 99%; /* this is just for IE */
}
.tool-tip:hover span {
    display: block;
}
/* tooltip -- ENDS*/
.contact-info-content, .contact-info-content-number, #destek-link {
    float: left;
    width: 100%;
    font-size: 11px;
    color: #555;
    margin-top: 12px;
    line-height: 15px;
}
.contact-info-content-number {
    margin-top: 0;
}
#destek-link {
    margin: 0;
    color: #46D3FC;
    font-size: 0.9em;
}
.poilcy-links, .poilcy-second-link {
    float: left;
    width: 100%;
    font-size: 11px;
    color: #6D6D6D;
    margin-top: 23px;
    line-height: 0px;
}
.poilcy-second-link {
    margin-top: 15px;
}
td.cart_quantity a.cart_quantity_down {
    float: left;
}
td.cart_product div.product_image {
    float: left;
    border: 1px solid #e5e5e5;
}
td.cart_product div.product_image a {
    display: block;
    height: 60px;
}
td.cart_product div.about-product {
    float: left;
    width: 100%;
    padding: 15px 0 0 5px;
}
td.cart_quantity div.quantity_cart {
    border: 1px solid #e5e5e5;
    float: left;
    margin: 1px 3px 0;
    /*padding: 2px 0;
    text-align: center;
    width: 40px;*/
}
td.cart_quantity div.quantity_cart input {
    border: medium none;
    text-align: center;
    font-size: 1.1em;
}
div.cart_navigation {
    float: left;
    margin: 0;
    width: 100%;
}
/*.btn_cont_shopping {
    background: url("../img/buttons/back-showroom-btn.png") no-repeat 0 0;
    height:40px;
    width:222px;
    display:block;
        margin:5px auto;
}*/
.back_showroom {
    background: url("../img/buttons/back-showroom-btn2.png") no-repeat 0 0;
    height:25px;
    width:152px;
    display:block;
    /*	margin:5px auto;*/
}
/*div.cart_navigation .btn_cont_shopping {
        float: left;
        margin: 0;
}*/
/*div.cart_navigation .ctn-button {
    background: url("../img/buttons/place-order.jpg") no-repeat 0 0;
    float:right;
    width: 212px;
    height: 40px;
    border: none;
}*/
div.cart_navigation .place-order {
    background: url("../img/buttons/place-order1.jpg") no-repeat 0 0;
    float:right;
    width: 152px;
    height: 25px;
    border: none;
    margin-top: -27px;
}
.shopping-cart hr {
    background-color:#b2b2b2;
}
img.cart-bottom  {
    margin-top: 30px;
}


#cart_product_prices {
    border: 5px solid #ffa4cf;
    padding: 12px;
    width: 100%;
}
tr td.pricelabel {
    width:65%;
}

tr.place_order div.place_order_button {
    float: left;
    width: 50%;
}
tr.place_order div.apply_credit {
    float: right;
    width: 50%;
    text-align: right;
}
.apply_credit a {
    color:#F643C6;
    font-weight: bold;
    font-size: 1.2em;
}
/* button chnges through css */

/*.cart_navigation #placeorderbtn .buttonsmall{
 float: right;
 padding: 0.8em 2.5em 0.75em;

}
.cart_navigation a #backaddress .buttonmedium{
float: left;
padding: 0.8em 1.5em 0.75em;

  }*/


/*shopping cart styling ends here*/

/*Accessory Details*/
.accessory-heading{
    color: #F2018A;
    font-size: 20px;
    text-align: center;
    width: auto;
}
.accessories-details-container{
    float: left;
    height: 150px;
    margin: 20px auto 10px;
    width: 960px;
    position: relative;
}
.accessories-product-banner{
    height:100px;
    width:100%;
    float:left;
    position:relative
}
.accessories-product-banner:hover{
    cursor: pointer;
}
.accessories-product-list{
    height:150px;
    margin:auto;
}
.accessories-product{
    width:119px;
    float:left;
    position:relative
}
.accessories-product > img{
    padding:10px 10px 0 10px;
}
.accessories-product span{
    display:block;
    width: 100%;
    margin: 0 -10px;
}
.accessories-product span .accessory-name{
    float: left;
    text-align: center;
    width: 100%;
}
.accessories-product span .accessory-price{
    color: #F2018A;
    float: left;
    text-align: center;
    width: 100%;
}
.accessories-product span img{
    margin:0 50px;
}

/* Tiny Carousel */
#slider1 {
   height: 150px;
   overflow:hidden;
   margin:10px 28px;
}
#slider1 .viewport {
    float: left;
    width: 900px;
    height: 150px;
    overflow: hidden;
    position: relative;
}
#slider1 .buttons {
    display: block;
    text-indent: -999em;
    float: left;
    width: 35px;
    height: 40px;
    overflow: hidden;
    position: relative;
}

#slider1 .prev {
    background:url("../img/cart/left.gif") no-repeat scroll 0 0 transparent;
    background-position: 0px 0px;
    margin: 50px 0 0 0;
}

#slider1 .next {
    background:url("../img/cart/right.gif") no-repeat scroll 0 0 transparent;
    background-position: 0px 0px;
    margin: 50px 0 0 0;
}

#slider1 .disable {
    opacity: 0.5;
    cursor: auto;
}
#slider1 .overview {
    list-style: none;
    position: absolute;
    padding: 0;
    margin: 0;
    min-width: 960px;
    left: 0 ;
    top: 0;
}

#slider1 .overview li{
    float: left;
    height: 150px;
    /*border: 1px solid #dcdcdc; */
    width: 119px;
    position:relative
}

#slider1 ul.overview li span{
    display:block;
    width: 100%;
    margin: 0 -10px;
}

#slider1 ul.overview li span label.accessory-name{
    float: left;
    text-align: center;
    width: 100%;
}
#slider1 ul.overview li span .accessory-price{
    color: #F2018A;
    float: left;
    text-align: center;
    width: 100%;
}
#slider1 ul.overview li img{
    padding:0px 10px;
}
#slider1 ul.overview li span img{
    margin:0 50px;
}

.passive-product{
    background-color: #FFF0FA;
}

.cart_quantity > *{
    float: left;
}
.mini-arrow {
    background: url(../img/cart/arrows-mini.png);
    width:9px;
    height: 24px;
    display: block;
}
.mini-arrow.left-arrow{
    background-position: 0 0;
}
.left-arrow-passive{
    background-position: 0 -25px;
}

.mini-arrow.right-arrow{
    background-position: -9px 0;
}
.mini-arrow.right-arrow-passive{
    background-position: -9px -25px;
}
.cart_quantity_input{
    margin-top:0;
}
.cart_item{
    position: relative;
}

.cart_product .error-message{
    position: absolute;
    width: 100%;
    position: absolute;
    margin-top: 5px;
}
.cart_product .pre-order-error-message {
    color: #ff0000;
}
.about-product > .info-con{
    height: 31px;
}


/*footer  styling begins here*/
#footer-wrapper-new {
    width: 100%;
    float: left;
    min-height: 130px;
    background: #fff;
    height: auto;
    position: relative;
    clear: both;
    border-top: 1px solid #EEE;
    margin-bottom: 10px;
}
#footer-inner-left {
    color: #666;
    float: left;
    padding: 20px 0 0;
    width: 88%;
}
#footer-left-heading {
    font-size: 13px;
    font-weight: bold;
}
.footer-left-sub-heading {
    font-size: 12px;
    color: #666;
    font-weight: bold;
}
#footer-inner-right {
    color: #8C8F91;
    float: left;
    padding: 20px 0 0;
    width: 12%;
}
#footer-right-heading {
    float: left;
    font-size: 13px;
    font-weight: bold;
    width: 100%;
    color: #666;
}
.footer-right-sub-text{
    color: #ADADAD;
    float: left;
    font-size: 12px;
    margin-left: 1%;
    width: 100%;
}
.poilcy-link1-footer, .poilcy-link2-footer {
    color: #6D6D6D;
    float: left;
    font-size: 11px;
    line-height: 16px;
    margin-top: 20px;
    width: 100%;
}
.poilcy-link2-footer {
    margin-top: 1px;
}
/*footer styling ends here*/

.address-align{
    border-radius: 0 5px 5px 5px;
    float: left;
    margin: 0;
    padding: 12px 128px 0;
    width: 680px;
}
