/*showroom*/
#showroom #main-wrapper{
	background:url("../img/showroom/bg-showroom.gif") repeat-x scroll 0 0 #FFFFFF;
}
.out-of-stock {
	background: url("../img/buttons/sold_out_btn.png") no-repeat 0 0;
	float:left;
	display:block;
	clear:both;
	margin:0 0 30px;
	width: 155px;
	height: 40px;
	border:0;
}
form#buy_block {
	float:left;
}
#showroom #image-container  {
	margin: 5px 0 0 0;
}
/* showroom top*/
#showroom_header {
    float: left;
    width: 100%;
	margin: 25px 0;
}
#showroom_header div {
    float: left;
}
#showroom_header #fb_avatar a {
    background: url("../img/showroom/profile-image-ivana.jpg") no-repeat 0 8px transparent;
	display: block;
    width: 135px;
    height: 146px;
    margin: 0 20px 0 0;
    padding: 8px 0 0;
	text-indent: -99999px;
	overflow: hidden;
}
#showroom_header #description {
	width: 805px;
}
#showroom_header h3 {
    color: #000000;
    font-family: 'Oswald',sans-serif;
    font-size: 24px;
    font-weight: normal;
    margin: 3px 0 10px;
    text-transform: uppercase;
}
#mn_actions {
    border-top: 2px dotted #C4C4C4;
    float: left;
    height: 16px;
    margin-top: 7px;
    padding-top: 10px;
    width: 100%;
}
#mn_actions li {
    background: url("../img/showroom/sprite_action.png") no-repeat scroll 0 0 transparent;
    float: left;
    line-height: 16px;
    margin: 0 30px 0 0;
}
#mn_actions li#learn_more_link:hover {
	background-position: 0 -18px;
}
#mn_actions li#testimonials_link {
	background-position: 0 -105px;
    line-height: 15px;
}
#mn_actions li#testimonials_link:hover {
	background-position: 0 -119px;
}
#mn_actions li a.learn_more_link, #mn_actions li a.testimonials_link {
}
#mn_actions li a {
    background: url("../img/showroom/arrow_pink.png") no-repeat scroll 100% 4px transparent;
    color: #000;
}
#mn_actions li a.disabled_link {
    background: url("../img/showroom/arrow_grey.png") no-repeat scroll 100% 4px transparent;
    color: #d5cccc;
}
#mn_actions li a:hover {
	color: #f31191;
}
#mn_actions li a, #mn_actions .mrs_disabled_link, #mn_actions a.disabled_link {
    display: block;
    float: left;
    font-size: 12px;
    font-weight: bold;
    padding: 0 9px 0 22px;
}
/* showroom -top */

/* showroom deal */
#showroom_deal {
	float: left;
    height: 250px;
    margin-top: 20px;
	width:100%
}
#showroom_deal #deal_heading{
	margin: 10px 0 20px 0;

}
#deal{
	/*height: 190px;*/
}
#deal_image{
	height: 190px;
	width: 565px;
	float: left;
}
#deal_contant{
	float: left;
	margin-left: 10px;
	width: 370px;
}
#deal_product_name{
	color: #079ED0;
    font-family: arial;
    font-size: 16px;
    text-transform: uppercase;
}
#deal_product_desc{
    float: left;
}
#deal_product_time{
    float: left;
	margin-bottom: 10px;
}
#view_deal{
	color: #079ED0;
    font-family: arial;
    font-size: 12px;
	font-weight: bold;
    text-transform: uppercase;
	margin-left: 24px;
}
#discount_clock {
	font-size: 35px;
	color: #f2018a;
	font-family: oswald;
	width: 155px;
	float: left;
/*	margin-top: 8px;*/
	line-height: 35px;
}

#deal_product_colors, #deal_product_colors ul {
	float: left;
	width: 100%;
}
#deal_product_colors li {
	float: left;
	margin: 0 5px 0 0;
}
#deal_color_list li span {
	display: block;
    height: 30px;
    width: 30px;
}
#deal_color_list li span img {
    height: 30px;
    width: 30px;
	position: relative;
}

/* showroom deal */

#showroom_contents {
	 float:left;
	 width:100%;
/*	 position:relative*/
}
.showroom_box {
	float:left;
	margin:15px 0 0 0;
}
.showroom_header_products {
	float: left;
	margin:20px 0 25px;
	height:25px;
	width:100%;
}
.showroom_header_products h2 {
	background: #FFF;
	padding: 0 10px 0 0;
}
.hdr_personal_selection {
	margin: 5px 0 0;
	float:left;
	width:100%;
	clear:both;
}


#original_selection_shoes, #original_selection_handbags, #original_selection_jewelery, #featured_this_month {
	float:left;
	width:100%;
	clear:both;
	margin: 0 0 10px;
}
#featured_this_month {
    margin: 20px 0 0;
}
.showroom_sel_cntnr_row {
	float: left;
    width: 100%;
	clear:both;
}
.showroom_sel_cntnr_row .showroom_sel_cntnr {
	float: left;
    height: 438px;
    width: 175px;
	margin-right: 86px;
}
.showroom_sel_cntnr_row .last_item  {
	margin-right: 0;
}
.showroom_sel_shoe, .showroom_sel_handbags, .showroom_sel_jewelery {
    border-bottom: 1px solid #CCCCCC;
    float: left;
    height: 370px;
    margin-bottom: 8px;
    position: relative;
    width: 175px;
}
.showroom_sel_shoe:hover {
	border-bottom: 1px solid #F2018A;
}
a.qv_image {
	background: url("../img/showroom/btn_quick_view.png") no-repeat scroll 0 0 transparent;
    border-bottom: 1px solid #F2018A;
    display: none;
    float: left;
    height: 30px;
    position: absolute;
    top: 340px;
    width: 175px;
    z-index: 5;
}
.showroom_sel_shoe .hover_state {
	position: absolute;
	left: 0;
	top: 0;
}

.sold_out .sold_out_container span {
	background: url("../img/showroom/sold-out-tag.png") no-repeat  0 0;
	height:11px;
	width:48px;
	display: block;
	text-indent: -999999px;
}
.low_stock_container, .sold_out_container,.on_sale_container {
	float: right;
    position: relative;
	height: 0;
    top: 10px;
}
.low_stock span {
	background: url("../img/showroom/low-stock-tag.png") no-repeat  0 0;
	display: block;
    height: 24px;
    text-indent: -999999px;
    width: 40px;
}
.on_sale_container {
	top:0;
}
.on_sale .on_sale_container  span {
    background: url("../img/showroom/discount-tag.png") no-repeat 0 0;
    height: 79px;
    text-indent: -999999px;
    width: 96px;
	display: block;
}
.sold_out img {
	right: 0px;
		opacity:0.4;
		-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(opacity=40)";
		filter:alpha(opacity=40);
		line-height: 1;
/*		position: absolute;*/
	}
.name_color_container {
/*	background: url("../img/6995-text.png") no-repeat 100px 50% transparent;*/
	float:left;
	clear:both;
	width:175px;
}
/*.fblike {
	float: left;
	clear: both;
	margin: 3px 0 0;
	width: 160px;
}
.facebook_like_shoe {
	float:left;
}*/
.showroom_shoe_name,.showroom_handbags_name,.showroom_jewelery_name {
	float:left;
/*	width: 100%;*/
}
.showroom_shoe_name a,.showroom_handbags_name a,.showroom_jewelery_name a {
	color: black;
	font-family: Arial;
	font-size: 12px;
/*	line-height: 1.6;*/
	text-transform: uppercase;
}

/* display of product colors */
.showroom_product_price, #product_colors, #product_colors ul {
	float: left;
	width: 100%;
}
#product_colors li {
	float: left;
	margin: 0 3px 0 0;
}
#color_list li span {
	display: block;
    height: 11px;
    width: 15px;
}
#color_list li span img {
    height: 14px;
    width: 15px;
	position: relative;
	top: 0;
	bottom: 0;
}

.see_more {
	float: left;
	margin: 0 0 10px;
	width: 100%;
/*	height:33px;*/
	border-bottom: 2px dotted #E6E6E6;
    border-top: 2px dotted #E6E6E6;
}
.see_more img {
	float: left;
}
.see_more span{
	color: #7D7D7D;
    float: left;
    font-size: 12px;
    margin: 15px 0;
    text-align: right;
	text-transform: uppercase;
	width: 800px;
}
.see_more a {
	background: url("../img/showroom/seemore-btn.gif") no-repeat 50% 0;
	float: left;
    height: 33px;
    margin: 8px 0 8px 10px;
    width: 148px;
	text-indent: -9999px;
}
.see_more a.hide-more, #more_handbags a.hide-more, #more_jewelry a.hide-more {
	background: url("../img/showroom/hide-btn.gif") no-repeat 50% 0;
}
.see_more_products {
	float: left;
	height: 290px;
	width: 950px;
}
.more_container {
	float: left;
	height: 265px;
}
.more_container .motor-container-horizontal, .more_container .motor-clip-horizontal {
    width: 960px;
}
.more_container li {
    display: inline;
    float: auto;
    height: 250px;
    width: 192px;
}
.more_container .motor-prev-horizontal, .more_container .motor-next-horizontal {
	cursor: pointer;
	width: 40px;
	height: 50px;
	position: absolute;
	top: 62px;
}
.more_container .motor-next-horizontal {
	background: url("../img/showroom/arr_next_qv.png") no-repeat 0 0;
	right: -32px;
}
.more_container .motor-prev-horizontal {
	background: url("../img/showroom/arr_prev_qv.png") no-repeat 0 0;
	left: -32px;
}
.more_container .motor-next-horizontal:hover,
.more_container .motor-prev-horizontal:hover {
	background-position: -40px 0;
}
.more_container .motor-next-disabled-horizontal,
.more_container .motor-prev-disabled-horizontal {
	background-position: -80px 0;
}
.more_container .motor-next-disabled-horizontal:hover,
.more_container .motor-prev-disabled-horizontal:hover {
	background-position: -80px 0;
	cursor: default;
}
/* showroom */
.prod_col_name {
	color:#8c8f91;
	text-transform: uppercase;
}
#showroom h2, #lookbook h2, #celebrity h2 {
	width: 100%;
	clear: both;
	color: #b7b7b7;
	font-family: 'Oswald', sans-serif;
	font-size: 24px;
	font-weight: 400;
	letter-spacing: -0.6px;
	margin: 0 0 40px;
	padding: 0;
	text-transform: uppercase;
}

/* Lookbooks and Celebrity styles */
#lookbook #main-wrapper {
	 background: url("../img/lookbook/bg-lookbooks.gif") repeat-x 0 0 #FFF;
}
#celebrity #main-wrapper {
	background:url("../img/celebrity/bg-boutique.gif") repeat-x scroll 0 18px #FFFFFF;
}
#lookbook h2 {
	margin: 35px 0 26px 0;
}
#celebrity h2 {
	color: #ACACAC;
	margin: 22px 0 45px;
}
#all_featured_products,#all_celebrity_products {
	float:left;
	width:100%;
	clear:both;
	margin-bottom:10px;
}
.features_wrapper {
	float: left;
    width: 100%;
}
.features_wrapper #features_header {
	margin: 26px 0;
}
.prod_col_name{
	color:#8c8f91;
	text-transform: uppercase;
}
#lookbook .showroom_sel_cntnr {
	height: 284px;
}
/*ShowRoom Disappear Start*/
.showroom_product_price span {
    text-decoration: line-through;
}
/*ShowRoom Disappear End*/
h2{
margin:25px 0 26px;
	width: 100%;
	clear: both;
	color: #b7b7b7;
	font-family: 'Oswald', sans-serif;
	font-size: 24px;
	font-weight: 400;
	letter-spacing: -0.6px;
	padding: 0;
	text-transform: uppercase;
}
#all_cloth_products{
	width: 100%;
	height:auto;
	padding:0;
	clear:both;
	float:left;
}
/*.showroom_sel_cntnr:first-child {
    margin-right: 0;
}
.alternate_item {

}*/