#admin-action-cms {
	background-color: #DFFAD3;
	border: 1px solid #72CB67;
	color: #374853;
	margin-bottom: 10px;
	padding: 4px;
}
#admin-action-cms input.exclusive { float:right }

/*meet-stylists styling begins here*/
#butigo-stylists {
	float:left;
	margin: 15px 0 0 0;
}
.butigo-stylists-list {
	float:left;
	border-bottom: 1px dotted #ad9fc6;
}
.butigo-stylists-pic {
	float: left;
	margin: 15px 0 0;
}
.butigo-stylists-desc {
	float: left;
	width: 454px;
	margin: 15px 0 0 20px;
}
.butigo-stylists-desc p {
    margin: 20px 0;
}
span.stylists-name {
	display: block;
	margin: 0 0 20px;
	font-weight: bold;
	color: #6D6E71;
}
/*meet-stylists styling ends here*/

/*privacy policy, terms styling begins here*/
#privacy-policy, #shipping-returns, #tc_desc, #contact {
	float: left;
	margin: 30px 40px 0 0;
}
#privacy-policy p, #shipping-returns p, #tc_desc p, .testimonial p, #contact p {
	font-size: 1em;
	color:#414042;
	margin:0 0 12px;
}
#privacy-policy p.highlight {
	font-weight: bold;
}
/*privacy policy, terms styling ends here*/


/*contact styling begins here*/
#contact {
	width:675px;
}
/*contact styling ends here*/


/*shipping-returns styling begins here*/
#shipping-returns span.sr-title {
	font-size: 1em;
	color: #414042;
	font-weight: bold;
}
/*shipping-returns styling ends here */


/*about us styling begins here*/
#about_us {
	float:left;
	margin:20px 0 0 0;
	width:620px;
}
/*about us styling ends here*/

/* CMS-press begins here */
#press {
	width: 950px;
	margin: auto;
	padding: 15px 0 10px 50px;
	font-size: 1.4em;
}
#press-solid {
	/*border: 1px solid gray;*/
	width: 950px;
	/*height: 655px; */
	margin: auto;
}
#press-ul {
	float: left;
	border: 1px solid gray;
	padding: 0 25px 0 40px;
}
#press-dot {
	border-bottom: 1px dotted gray;
	padding:  35px 0px 35px 0;
	float: left;
	width: 925px; 
	list-style: none outside none;
}
#press-nodot{
    padding:  40px 15px 35px 0px;
	float: left;
	width: 925px;
	list-style: none outside none;
}
#press-image {
	float: left;
	width: 270px;
	/*padding-left: 30px;*/
}
#press-text {
	float: left;
	width: 610px;
	height: 160px;
	padding: 0 0 0 20px;
	font-size: 1.5em;
	color: #414042;
	line-height: 1em;
}
#press-img {
	float: right;
	width: 200px;
	padding: 24px 20px 0 0;
}

/* CMS-press ends here */

/* button chnges through css */
  
#stylist a.style{
        cursor: pointer;
        display: inline-block;
        font: bold 13px/100% Arial,Helvetica,sans-serif;
/*        height: 25px;*/
        outline: medium none;
        padding: 10px 5px 0 0;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
/*        text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);*/
/*        width: 100px;*/
	  height: 32px;
          margin: 15px 0 0;
    width: 155px;
}
#stylist a.style:active {
	position: relative;
	top: 1px;
}
#stylist a.style:hover {
	background: #21c7f7;
        color: #fff;
	background: -webkit-gradient(linear, left top, left bottom, from(#f2018a), to(#f2018a));
	background: -moz-linear-gradient(top,  #f2018a,  #f2018a);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f2018a',endColorstr='#f2018a');
}
#stylist a.survey{
	color: #fff;
/*	border: solid 1px #da7c0c;*/
	background: #ef5ba1;
	background: -webkit-gradient(linear, left top, left bottom, from(#f2018a), to(#ef5ba1));
	background: -moz-linear-gradient(top, #f2018a, #ef5ba1);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f2018a', endColorstr='#ef5ba1');
}
#stylist a.survey:hover {
	background: #f2018a;
}
#stylist a.survey:active {
	color: #fff;
	background: -webkit-gradient(linear, left top, left bottom, from(#f2018a), to(#ef5ba1));
	background: -moz-linear-gradient(top, #f2018a, #ef5ba1);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f2018a', endColorstr='#ef5ba1');
}

/*styling for joker vada kampanyası*/
#joker {
    width:685px;
    margin: 20px 0 0 0;
}
#joker h1 {
    margin: 0 0 25px 0;
    color: #414042;
}
#joker_img {
    float:left;
    width: 190px
}
#joker_desc {
    float: left;
    width: 495px;
}
/*styling for joker vada kampanyası*/
