.display_d_deal_black_img{
    margin-left: 368px;
    position: absolute;
    margin-top: 45px;
}

.display_d_deal_text{
    margin-left: 395px;
    position: absolute;
    margin-top: 62px;
    z-index: 999999;
}
.main_heading{
    color: #363636;
    font-family: arial;
    font-weight: bold;
    font-size: 45px;
    text-transform: uppercase;
    clear:both;
    margin: 37px 0px 22px 0px;
}
.sub_heading{
    color: #363636;
    font-family: Georgia;
    font-size: 12px;
    text-transform: uppercase;
    overflow: hidden; 
    clear:both;
}
.remaining_time{
    font-weight: bold;
    font-family: arial;    
    font-size: 14px;
    color: #ffffff;
    margin-top: 9px;
    letter-spacing: 2px;
}
.countdown_time{
    font-weight: bold;
    font-family: arial;    
    font-size: 30px;
    color: #ffffff;
    margin-top: 5px;
    letter-spacing: 2px;
}
.certain_color{
    color: #B7B7B7;
    font-family: Italic;
    font-weight: normal;
    font-size: 9px;
    margin-top: 4px;
    text-transform: uppercase;
    margin-bottom: 14px;
    letter-spacing: 1px;
}
.discount_price{
    
    color: #ffffff;
    font-family: arial;    
    font-size: 42px;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-top: 24px;
}
.discount_price sup{
    font-size: 70%;
    vertical-align: baseline;
    top: -14px;
    position: relative;
    line-height: 0;
}
.main_price{
    font-family: arial;
    font-style: regular;
    color: #b7b7b7;
    font-size: 16px;
}
.free_shiping{
    font-family: arial;
    font-size: 10pt;
    font-weight:bold;
    color: #ffffff;
    margin-top: 24px;
    letter-spacing: 2px;
}
.normal_text{
    font-family: arial;
    color: #B7B7B7;
    font-size: 12px;
    margin-top: 3px;
}

@-moz-document url-prefix() {
.display_d_deal_text {
    margin-left:392px;
    margin-top: 57px;
}
.certain_color {
    margin-bottom: 16px;
}
.sub_heading{
    font-size: 11px;
}
}

li:hover {cursor: pointer; cursor:hand;}




