/* history.tpl*/
/*#block-history { color: #374853 }
.color-myaccount { color: #dd2a81 }
#block-history table#order-list { border: none }
#block-history table#order-list thead th { background-image: url('../img/block_myaccount_header_large.gif') }
#block-history table#order-list thead th { color: white }
#block-history table#order-list tbody { background: #D0D1D5 url('../img/form_bg.jpg') repeat-x top left }
#block-history table#order-list tbody tr td { background-color: white }
#block-history table#order-list td.history_link {
	white-space: nowrap;
	text-align: right
}
#block-history #block-order-detail {
	border-top: 2px #dd2a81 solid;
	border-bottom: 2px #dd2a81 solid;
	padding: 0.5em;
	background: #D0D1D5 url('../img/form_bg.jpg') repeat-x top left
}
#block-history #block-order-detail p {
	padding-left: 0;
	padding-right: 0
}
#order-detail-content {
	clear: both;
	margin-top: 1.5em
}
#order-detail-content tbody tr { height: 3em }
#order-detail-content tfoot td { border: none }
#order-detail-content table td input.order_qte_input { display: none }
#order-detail-content table td.order_cb input { border: none }
#order-detail-content table td span.order_qte_span {
	width: 100%;
	display: block
}
#block-history #block-order-detail h4 { font-size: 1.4em }
#block-history #block-order-detail #sendOrderMessage p { padding: 0 4px 0 1px }
#block-history #block-order-detail textarea {
	margin: 0 auto;
	width: 100%
}
#ordermsg textarea {
	margin: 0;
	padding: 0;
	width: 528px;
}*/


/*order history[history.tpl , orderdetails.tpl] styling begins here*/
#block-history {
    color: #000;
    margin: 25px 0 0 0;
     float: left;
}
#block-history table#order-list {
    border: medium none;
	width:500px;
}
table.history_list {
    border-spacing: 0;
    width: 100%;
	border-collapse:collapse;
}
#block-history table#order-list thead th.first_item {
    color:#f2018a;
}
#block-history table#order-list thead th {
    font-size: 1.2em;
    padding:0 30px 5px 0;
    border-bottom: 1px solid #F643C6;
}
#block-history table#order-list td,
#block-history #order-detail-content  table tbody td  {
    border-bottom: 1px solid #F643C6;
    padding:5px 0;
}
#block-history table#order-list td.history_detail {
	padding: 0 0 0 30px;
}
.color-myaccount {
    color: #f2018a;
}
#block-order-detail {
/*     float: left;*/
     position: relative;
}

#order-detail-content {
    clear: both;
    margin-top: 1.5em
}

#block-order-detail h3 {
    margin-left: 0;
}
#block-history #block-order-detail .order_bold,#block-history #block-order-detail ul li.address_title{
    font-weight: bold;
    font-size: 1.2em;
    color:#000;
}
#block-history #block-order-detail ul li.address_title {
	margin: 0 0 5px 0;
}
#block-history #block-order-detail p.order_bold {
     margin:25px 0 5px 0;
}
#block-history #block-order-detail ul li {
    list-style-type: none;
    font-size: 1em;
}
#block-history #block-order-detail ul.payment_method,#block-history #block-order-detail ul.address {
    width: 50%;
    float:left;
    margin: 0 0 20px;
}
#block-history #order-detail-content table thead th {
    font-size: 1.1em;
    width: 110px;
    border-bottom: 1px solid #F643C6;
}
#block-history #order-detail-content table thead th.history_pro_desc {
	width: 190px;
}
#block-history #order-detail-content table tbody tr td {
    text-align: center;
}
#block-history #order-detail-content table tfoot {
    text-align: right;
}
#block-history #order-detail-content table tfoot td {
	padding: 0 28px 0 0
}
#order-detail-content table td input.order_qte_input {
    display: none;
}
#block-history #block-order-detail blockquote {
   color:#252525;
   font-size:0.9em;
   margin: 20px 0 0;
   float:left;
}

  
