/* identity.tpl */
/*my-account styling begins here */
#my_account {
    float:left;
/*    margin-left: 40px;*/
    margin-top:25px;
    width:605px;;
}
#my_account h3 {
    margin:0;
}
#my_account fieldset {
    float:left;
    width:605px;
}
#my_account span {
    font-weight: normal;
}
#my_account fieldset  p {
    margin:0 0 30px 0;
}
/*#my_account input[type="submit"] {
    border-color: #B5A5BE;
    width:205px;
}*/
/*#my_account input.btn_save {
	background: url("../img/buttons/save_settings.png") no-repeat 0 0;
    width:198px;
    margin-top: 10px;
	height: 40px;
}*/

/*my-account styling ends here*/

p#security_informations {
	font-size: 0.85em;
	margin: 0 3em
}
#successmsg{
	font-size: 12px;
	width:35px;
	height:auto;
/*	margin-left: 12px;*/
	text-transform: uppercase;
}
.error
{
	background-color: #DE4343;
    border-color: #C43D3D;
    color: #FFFFFF;
    margin: 0;
    padding: 15px 15px 40px;
}
/*.message{
	left:194px;
}*/
.success
{
  background-color: #61B832;
  border-color: #55A12C;
  color:#ffffff;
 padding:15px 15px 38px;
}
