/*Survey Vs Register*/
#join-now {
    background: url("../../../img/survey/register-now-bkgrnd.jpg") no-repeat 0 0;
    float: left;
    height: 525px;
    margin: 1px 0 0 0;
    width:950px;
    position: relative;
}

#new_user {
    margin: 20px 0 0;
    position: absolute;
    right: 126px;
    top: 193px;
}


#new_user fieldset p {
    font-size: 1em;
    margin: 0 0 10px;
}

#new_user label {
    color: #FFFFFF;
    float: left;
    font-size: 1.1em;
    font-weight: bold;
    margin: 0 10px 0 0;
    text-align: right;
    width: 114px;
}

#new_user input.sstext {
    width: 190px;
}
/* button chnges through css */
.buttonlarge{
         margin: 8px 0 0 0;
         float: right;
}

/*Survey Vs Register*/