/*fonts  */
@font-face {
    font-family: 'HelveticaCE35ThinRegular';
    src: url('res/helvetica_neue_ce_35_thin-webfont.eot');
    src: url('res/helvetica_neue_ce_35_thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('res/helvetica_neue_ce_35_thin-webfont.woff') format('woff'),
         url('res/helvetica_neue_ce_35_thin-webfont.ttf') format('truetype'),
         url('res/helvetica_neue_ce_35_thin-webfont.svg#HelveticaCE35ThinRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
/*fonts  */

/*** Default Stylings begin ***/
* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    background: black;
    font: 13px/18px Arial, Helvetica, Verdana, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
    color: #000;
    height: 100%;
    width: 100%;
}

h2, h3, h4, h5, h6 {
    line-height: 1em;
}

h2 {
    float: left;
    font-family: HelveticaCE35ThinRegular;
    font-size: 2.6em;
    font-weight: normal;
    color: #FFF;
    padding: 9px 0 0 0;
    text-transform: lowercase;
}

h3 {
    font-family: HelveticaCE35ThinRegular;
    font-size: 2.9em;
    font-weight: normal;
    color: #f2018a;
    margin: 25px 0 0 0;
}

p {
    margin: 0 0 18px;
    font-size: 0.9em;
    color: #6d6e71;
}

a {
    color: white;
    outline: none;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

img {
    border: none;
}

ul, li {
    list-style-type: none;
}

strong, b {
    color: #f2018a;
    font-weight: bold;
}

em,blockquote {
    font-style: italic;
}

form {
    float: left;
}

fieldset {
    border:none;
}

input[type="submit"], input[type="image"], select, option, input[type="checkbox"], input[type="radio"] {
    cursor: pointer;
    border: none;
}

input, textarea, select {
    border: 1px solid #9F9F9F;
    font-family: Verdana, Helvetica, Arial, Tahoma, sans-serif;
    font-size: 0.9em;
    padding: 1px;
}

input, textarea {
    padding: 2px;
    vertical-align: middle;
}

select#id_country, select#user_creditcard_attributes_cc_type {
    width: 230px;
}

option {
    border: none;
}

/*** Default Stylings end ***/


/*** Common Stylings begin ***/
.hidden {
    display:none;
    visibility:hidden;
    width:0;
    height:0;
    margin:0;
    padding:0
}

.collapsed {
     display: none;
}

/* for changing buttons through css begins here */
.buttonsmall, .buttonmedium, .buttonlarge {
    display: inline-block;
    zoom: 1; /* zoom and *display = ie7 hack for display:inline-block */
    vertical-align: baseline;
    font: bold 15px/100% Arial,Helvetica,sans-serif;
    outline: none;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    width: auto;
    cursor: pointer;
}

.buttonlarge {
    padding: 0.8em 3.1em;
}

.buttonlarge:hover {
    background: #21c7f7;
    color: #fff;
    background: -webkit-gradient(linear, left top, left bottom, from(#21c7f7), to(#21c7f7));
    background: -moz-linear-gradient(top,  #21c7f7,  #21c7f7);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#21c7f7',endColorstr='#21c7f7');
}

.buttonmedium {
    font-size: 13px;
    padding: 0.8em 2.5em .75em;
}

.buttonmedium:hover , .hiw_hover {
    background: #21c7f7;
    color: #fff;
    background: -webkit-gradient(linear, left top, left bottom, from(#21c7f7), to(#21c7f7));
    background: -moz-linear-gradient(top,  #21c7f7,  #21c7f7);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#21c7f7',endColorstr='#21c7f7');
}

.buttonsmall{
    font-size: 11px;
    padding: 0 1em;
}

.buttonsmall:hover{
    background: -webkit-gradient(linear, left top, left bottom, from(#ef5ba1), to(#f2018a));
    background: -moz-linear-gradient(top, #ef5ba1, #f2018a);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ef5ba1', endColorstr='#f2018a');
}

.buttonlarge:hover, .buttonmedium:hover, .buttonsmall:hover {
    text-decoration: none;
}

 .buttonmedium:active, .buttonsmall:active {
    position: relative;
    top: 1px;
}

.pink{
    color: #fff;
    background: #ef5ba1;
    background: -webkit-gradient(linear, left top, left bottom, from(#ef5ba1), to(#f2018a));
    background: -moz-linear-gradient(top, #ef5ba1, #f2018a);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ef5ba1', endColorstr='#f2018a');
}

.pink:hover {
    background: #f2018a;
    background: -webkit-gradient(linear, left top, left bottom, from(#f2018a), to(#f2018a));
    background: -moz-linear-gradient(top, #f2018a, #f2018a);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f2018a', endColorstr='#f2018a');
}

.pink:active {
    color: #fff;
    background: -webkit-gradient(linear, left top, left bottom, from(#ef5ba1), to(#ef5ba1));
    background: -moz-linear-gradient(top, #ef5ba1, #ef5ba1);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ef5ba1', endColorstr='#ef5ba1');
}

.blue {
    color: #fff;
    background:#5ddbff;
    background: -webkit-gradient(linear, left top, left bottom, from(#5ddbff), to(#21c7f7));
    background: -moz-linear-gradient(top,  #5ddbff,  #21c7f7);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#5ddbff', endColorstr='#21c7f7');
}

.blue:hover {
    background: #21c7f7;
}

.blue:active {
    color: #fff;
    background: -webkit-gradient(linear, left top, left bottom, from(#5ddbff), to(#5ddbff));
    background: -moz-linear-gradient(top,  #5ddbff,  #5ddbff);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#5ddbff', endColorstr='#5ddbff');
}

.black {
    background: #444;
    background: -webkit-gradient(linear, left top, left bottom, from(#444), to(#000000));
    background: -moz-linear-gradient(center top , #444, #000000) repeat scroll 0 0 transparent;
    color: #fff;
}

/*** Common Stylings end ***/

#header_wrap {
    position: fixed;
    top: 0;
    background: #f2018a;
    width: 100%;
    height: 60px;
    z-index: 1;
}
#header {
    margin: 0 auto;
    width: 960px;
    text-align: center;
}
#header .header_left {
    float: left;
    width: 480px;
}

#header .header_left #logo a {
    display: block;
    background: transparent url('../img/logo-homelo.png') top left no-repeat;
    width: 164px;
    height: 50px;
    text-indent: -9999px;
}

#header .header_right {
    float: right;
    width: 480px;
    text-align: right;
    margin-top: 22px;
}

#header .header_right ul.nav-menu li {
    display: inline-block;
    text-transform: uppercase;
    padding-left: 15px;
    font-size: 12px;
    font-weight: bold;
}

#main-wrapper {
    position: relative;
    clear: both;
    overflow: hidden;
    width: 100%;
    height: 100%;
    min-height: 680px;
    padding: 0;
}

#middle {
    position: relative;
    height: 100%;
}


/*footer  styling begins here*/
#footer-wrapper {
    width: 100%;
    float: left;
    min-height: 130px;
    background: #000;
    height: auto;
    position: relative;
    clear: both;
}

#footer {
    margin: 0 auto;
    width: 960px;
    overflow: hidden;
}

#footer a:hover {
    text-decoration: underline;
}

#footer-inner {
    float: left;
    padding: 20px 0 0 0;
    width: 100%;
}

#footer-top {
    float:left;
    width:100%;
}

#questions {
    float: left;
    width: 100%;
}

#questions img {
    float:left;
}

#questions p {
    float: left;
    margin: 0 0 0 10px;
    color: #b1b3b6;
    font-size: 0.9em;
    line-height: 22px;
}

p#copyright {
    float: left;
    width: 100%;
    margin: 15px 0 40px 0;
    color: #b1b3b6;
    font-size: 0.8em;
}

p#copyright a {
    color: #b1b3b6;
}

/*footer styling ends here*/
