/* product.tpl */

#left-col {
	float: left;
	width: 525px;
	margin: 0 30px 0 0;
}

/* left container starts */
/*#prod_img_container {
	position: relative;
	z-index: 0;
}*/
#slides, .prod_img_slides {
	position: relative;
	/*left: 27px;*/
	z-index: 100;
	width: 435px;
	padding: 0 5px;
	margin: 0 auto;
}

#slides .slide, .prod_img_slides .slide  {
	width: 435px;
	height: 435px;
	display: block;
}
#slides .next,#slides .prev, .prod_img_slides .next,.prod_img_slides .prev  {
	position:absolute;
	top:192px;
	left:-40px;
	width:40px;
	height:50px;
	display:block;
	z-index:101;
}
#slides .next,.prod_img_slides .next  {
	background: url("../img/showroom/arr_next_qv.png") no-repeat 0 0;
	left:445px;
	/*width:40px;*/
}
#slides .prev,.prod_img_slides .prev  {
	background: url("../img/showroom/arr_prev_qv.png") no-repeat 0 0;
	/*width:40px;*/
}
#slides a.next:hover,.prod_img_slides a.next:hover {
	background-position:-40px 0;
}
#slides a.prev:hover,.prod_img_slides a.prev:hover  {
	background-position:-40px 0;
}

/* right container starts */
#rightcol {
	float: left;
	width: 255px;
	padding: 25px 35px 0 0;
}
#rightcol h5 {
	font-family: Georgia;
    font-size: 30px;
    font-style: italic;
    font-weight: normal;
    line-height: 1.4em;
}
#rightcol p {
	color: #7f7e7e;
	margin: 8px 0;
}
#rightcol a.view_details {
	float: left;
	height: 18px;
	padding: 0 0 0 25px;
	position: relative;
	background: url("../img/buttons/icons_big_qv.png") no-repeat scroll 1px 1px transparent;
	left: 122px;
}
#rightcol a.view_details:hover {
	background-position: 0px -18px;
}
#rightcol a.view_details:hover span {
	color: #f31191;
}
#rightcol a span {
	background:url("../img/buttons/pinkarrow.png") no-repeat scroll 100% 3px transparent;
	height: 10px;
	width: 5px;
	padding-right: 8px;
	display: inline;
    font-weight: normal;
    left: 0;
}
#rightcol a.view_details span {
    top: 3px;
	color: #aeaeae;
	font-size: 14px;
}

/* color, choices */
#color_size_container {
	float:left;
	width:100%;
	margin:10px 0;
}
#color_picker,
.choices_group {
    float:left;
	margin: 20px 0 0;
	width:110px;
}
#color_picker {
	margin: 20px 35px 0 0;
}
#color_picker label,
.choices_group label {
    float: left;
	font-size: 12px;
	color: #7d7d7d;
	width:100%;
}
#color_picker li {
	display: inline;
	float: left;
	margin: 0 0.4em 0.4em 0;
	border: 1px solid #CDCDCD;
	/*	padding: 2px 4px; */
}
#color_picker li a {
	cursor: pointer;
	display: block;
	height: 22px;
	width: 22px;
	border: 1px solid #FFF;
}
#color_picker li a img {
	height: 22px;
	width: 22px;
}
ul.product_choices li {
	display: inline;
	float: left;
	margin: 0 0.4em 0.4em 0;
	border: 1px solid #CDCDCD;
	padding: 3px 5px;
	color: #7d7d7d;
}
ul.product_choices li a {
	cursor: pointer;
	font-size: 12px;
	display: block;
	text-align: center;
	color: #7d7d7d;
}
ul.product_choices li.no_stock {
	background: url("../img/product/unavailable.png") no-repeat 0 0;
}
#color_picker li.chover:hover,
#color_picker li.picked,
ul.product_choices li.stock:hover,
ul.product_choices li.picked {
	border: 1px solid #f643c6;
}

/* cart buttons */
#order_options {
	float: left;
}
#check_out_btn {
	float: left;
	margin-top: 1px;
	margin-bottom:20px;
}
/*#check_out_btn input {
	border:0;
	width: 155px;
	height: 41px;
	background: url("../img/buttons/add_cart_btn.png") no-repeat 0 0;
}*/
#fb_like{
	float: left;
    width: 255px;
    border-bottom: 2px dotted #CACACA;
    border-top: 2px dotted #CACACA;
    padding: 8px 0;
	}
 #fblike span{
    float: left;
    width: 125px;
}
#fancybox-close {
    background: url("../img/buttons/btn_close_qv.png") repeat scroll 0 0 transparent;
    height: 39px;
    right: 0;
    top: 0;
    width: 40px;
	cursor: pointer;
}
a#fancybox-close:hover {
	background-position: -40px 0;
}

/* button chnges through css */
  
#check_out_btn .addto{
        cursor: pointer;
        display: inline-block;
        font: bold 13px/100% Arial,Helvetica,sans-serif;
        outline: medium none;
        padding: 0 0 0 0;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
	 height: 32px;
         text-transform: uppercase;
         margin: 8px 14px 0 0;
         width: 130px;
}
/*#check_out_btn .addto:hover {
	text-decoration: none;
        color: 	 #f2018a;
}*/
#check_out_btn .addto:active {
	position: relative;
	top: 1px;
}
#check_out_btn .cart{
	color:#FFF ;
	background:#5bddff;
}
#check_out_btn .cart:hover {
	background: #f47c20;
	background: -webkit-gradient(linear, left top, left bottom, from(#21c7f7), to(#5bddff));
	background: -moz-linear-gradient(top, #21c7f7, #5bddff);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#21c7f7', endColorstr='#5bddff');
}
