/*
    Document   : singlepage-checkout
    Created on : 11 Oct, 2012, 11:19:46 AM
    Author     : gangadhar
    Description:
        Purpose of the stylesheet follows.
*/

/*Cart-page - order step 1*/
#cart_empty {
    margin: 20px auto;
}
#cart_empty_image {
    margin-left: 29%;
}
.right-cart-details-table tr.cart_total_price {
    float:left;
    text-align: left;
}
#checkout-tbody {
    height: 10px;
}
.cart_total_price {
    float: right;
    font-size: 0.9em;
    padding: 0 8px 0 0;
    width: auto;
}
table#cart_summary tr.cart_total_delivery #total_shipping {
    font-size: 0.7em;
    font-weight: bold;
    padding: 0 28px 0 0;
    text-align: right;
}

div.cart_navigation .ctn-button {
    background: url("../img/buttons/order-continue.gif") no-repeat scroll 0 0 transparent;
    border: medium none;
    float: right;
    height: 33px;
    width: 168px;
}

table#cart_summary {
    margin: 20px 0 0;
    width: 75%;
}

.btn-place-order {
    background: url("../img/buttons/order-continue.gif") no-repeat scroll 0 0 transparent;
    border: medium none;
    height: 40px;
    width: 212px;
}

.cart-bottom {
    margin: 150px 0 0 0;
}

#voucher .buttonsmall {
      padding: 0.38em 3em;

}

#voucher .buttonsmall:hover {
    background: #21c7f7;
    color: #fff;
    background: -webkit-gradient(linear, left top, left bottom, from(#21c7f7), to(#21c7f7));
    background: -moz-linear-gradient(top,  #21c7f7,  #21c7f7);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#21c7f7',endColorstr='#21c7f7');
}

#cart_empty a.buttonsmall {
    padding: 0.7em 2em 0 2em;
    margin: 0 0 0 85px;
}

#cart_empty a.buttonmedium a.buttonmedium-empty-cart{
    margin: 0 5% 0 37%;
    top: 20px;
    position: relative;
}
.buttonmediumnew {
    width: 37%;
}
.buttonmedium-empty-cart {
    width: 16px;
}
/*Cart-page - order step 1*/

/*Right Cart Details - order step 2*/
.spc-left-part {
    margin: 0;
    width: 652px;
    float:left;
}

.link-underline {
    float: right;
/*    padding: 0 1px 0 0;*/
/*    text-align: right;*/
    text-decoration: underline;
/*    width: 105px;*/
}

#cart-details {
    float: right;
    width: 100%;
}

.price {
    font-size: 11.8px;
    text-align: right;
    padding-right: 6px;
}

.price span {
    color: #888888;
}
.cart_product_name {
    width: 100%;
    color: #888;
}
#order .right-cart-details-table {
     border-collapse: separate;
     color: #6D6D6D;
     font-size: 0.85em;
     margin-top: 5px;
}

.right-cart-details-table {
    width: 100%;
}

.right-cart-details-table thead tr {
    height: 20px;
    width: 100%;
}

.right-cart-details-table thead tr th {
    text-align: left;
    background-color: #EEE;
    font-size: 10px;
    text-transform: uppercase;
    color: #8C8F91;
}

.right-cart-details-table thead .left-th {
    padding: 0 0 0 13px;
    width: 100%;
}
.right-header {
    padding: 1px 0 0 7px;
    width: 95%;
    height: 22px;
    text-align: left;
    background-color: #F6F6F6;
    font-size: 0.76em;
    font-weight: bold;
    text-transform: uppercase;
    color: #6d6d6d;
    border-bottom: 1px solid #E6E6E6;
}

.right-cart-details-table thead .right-th {
    width: 100%;
}

.right-cart-details-table tr {
    width: 150px;
    alignment-adjust: central;
}

tr.cart_item{
    height: 75px;
}

.cart_total{
    font-size: 0.8em;
    text-align: center;
}

.cart_total span {
   color: #F2018A;
}

td.hr-rule {
    border-top: solid 1px #EEE;
    height: 1px;
}

tr.cart_total_label {
    font-size: 13px;
    font-weight: bold;
    height: 30px;
    color: #6d6d6d;
}

.cart_total_label #spc-total-price {
    text-align: right;
    padding-right: 6px;
    width: 80px;
}

tr.cart_total_price {
    font-size: 18px;
    height: 20px;
}
/*Right Cart Details*/

/*Address Page*/
.spc-right-part {
    float: left;
    margin: 20px 0 0 23px;
    width: 27%;
}
.spc-right-part-address {
    width: 25%;
    margin-top: 56px;
    float:right;
}
.spc-order-steps {
    position: relative;
    float: left;
    width: 345px;
    height: 28px;
    margin: 0 auto;
    text-transform: uppercase;
    padding-top: 10px;
}
.spc-order-steps li {
    position: relative;
}
.spc-order-steps li a {
    float: left;
    width:115px;
    text-align: center;
    font-family: Arial,sans-serif;
    line-height: 2.1em;
    height: 28px;
    color: #a7a7a7;
    font-size: 13px;
    display:block;
    overflow:hidden;
    margin-top: -4px;
    background: -webkit-gradient(linear, left top, left bottom, from(#FBFBFB), to(#EEE));
    background: -webkit-linear-gradient(top, #FBFBFB, #EEE);
    background: -moz-linear-gradient(top, #FBFBFB, #EEE);
    background: -ms-linear-gradient(top, #FBFBFB, #EEE);
    background: -o-linear-gradient(top, #FBFBFB, #EEE);
    background: linear-gradient(to bottom, #FBFBFB, #EEE);
    /* IE6 & IE7 */
    filter:  progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#FBFBFB, endColorstr=#eeeeee);
    /* IE8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#FBFBFB', endColorstr='#eeeeee')";
}


.spc-order-steps li a:hover {
    color: #000;
}

.spc-order-steps li.selected {
    position: relative;
}

.spc-order-steps li.selected a {
    color: #000;
    width: 115px;
    background: #fff;
    /* IE6 & IE7 */
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#ffffff, endColorstr=#ffffff);
    /* IE8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#ffffff', endColorstr='#ffffff')";
}

.spc-order-steps li.un-selected a {
    color: #F643C6;
}
.arrow-image-checkout-first,
.arrow-image-checkout-first-unselected,
.arrow-image-checkout-middle,
.arrow-image-checkout-last {
    background: url("../img/cart/step_gray_white.png") no-repeat scroll 0 3px transparent;
    float: right;
    height: 32px;
    width: 8px;
    margin-top: -4px;
}
.arrow-image-checkout-first-unselected {
    background-image: url("../img/cart/step_gray_gray.png");
}
.spc-order-steps li.selected a .arrow-image-checkout-middle {
    background-image: url("../img/cart/step_white_gray.png");
}
.spc-order-steps li.selected a .arrow-image-checkout-last {
    background-image: url("../img/cart/step_white_white.png");
}
.payment_addresses , #payment_methods{
    float: left;
    margin: 0;
    padding: 12px 12px 0;
    width: 680px;
    border-radius: 0 5px 5px 5px;
}
#no_address_payment, #payment_methods {
    padding: 0 12px 15px 0;
    width: 609px;
    float: left;
    height: auto;
}

.addresses_delivery,.addresses_invoice, #same_as_delivery {
    float: left;
    width: 100%
}

li.address_alias {
    margin: 0 0 3px 0;
}

.payment_address{
    cursor:pointer;
}

.payment_address, .new-address {
    width: 310px;
    height: 150px;
    float: left;
    border: 1px solid #D1D1D1;
    margin-bottom: 17px;
    background-color: white;
    position: relative;
}

#same_as_delivery {
    margin: 5px 0 20px 0;
}

#same_as_delivery label{
    cursor:pointer;
}

.address-type-con{
    display: inline-block;
}

.address-type-con .address-name-con{
    font-size:22px;
    margin-bottom: 15px;
    color:#545454;
}
.delivery-address-con  > .address-name-con{
    margin-top:10px;
}

.payment_address .radio {
    position: absolute;
    display: inline;
    top: 54px;
    width: 12px;
    height: 13px;
    cursor: pointer;
    left: 9px;
}

#addresss_buttons {
    bottom: 6px;
    left: 27px;
    margin: 0;
    position: absolute;

}

p.edit-address , .delete-address, .add_bar {
   float:left;
   color: #6D6D6D;
}

p.edit-address , .delete-address {
    margin: 0;
    cursor: pointer;
    font-family: arial;
    font-size: 1em;
    text-decoration: underline;
}

.add_bar {
   margin: 2px 4px 0;
}

.delete-address {
    left: 86px;
    color: #6D6E71;
}

.edit-address:hover,.delete-address:hover {
    text-decoration: none;
}

.add_bar {
    border-right: 1px solid;
    height: 12px;
    margin: 4px 5px 0;
    width: 1px;
}


.payment_addresses .ad_even {
    margin-left: 15px;
    margin-right: 0;
}

.payment_address.current{
    background-color: #E7E7E7;
}

.payment_address ul {
    left: 30px;
    position: absolute;
    top: 8px;
    width: 84%;
}

.cart_address {
    float: left;
    margin: 20px 0 0 12px;
}

#address_label p {
    font-size: 1em;
    font-weight: bold;
    color: #F2018A;

}

.address_state, .address_Country, .address_postcode {
    float:left;
    text-align: left;
    padding: 0 10px 0 0;
}

.current_address {
    background:url("../img/buttons/tick.gif") no-repeat 0 2px;
    bottom: 6px;
    color: #F2018A;
    position: absolute;
    right: 12px;
    padding: 0 0 0 17px;
}

.add_new_address p, .new-address p {
    cursor: pointer;
    position: absolute;
    top: 42%;
    width: 295px;
    text-align: center;
    font-weight: bold;
    font-size: 1.1em;
}

.new_addrs, .newAdress {
    background: url("../img/buttons/pinkarrow.png") no-repeat scroll right 3px transparent;
    color: #F2018A;
    padding: 0 9px 0 0;
    text-transform: uppercase
}

#my_account p, .edit_address p, .formContainer p, .formContainer #address-options fieldset label {
    margin-top: 15px;
}
#address_label {
    margin:5px 0 0 30px;
}

.new_addrs:hover,a.newAdress:hover {
    text-decoration: underline;
}

.address-details {
    margin:0;
}

.address_update {
    font-size: 14px;
    font-weight: bold;
    margin: 10px 0 0;
}

.address-edit {
     height:33px;
     weight:198px;
     margin: 38px 0 0 0;
}

.spc-address-footer {
    float: left;
    margin: 100px 0 0;
}
/*For address popup*/
#shipping-address {
    border: medium none;
    float: none;
    padding: 0;
    width: 100%;
}

.new_addrss_layout,#two_chk_out_edit_adres {
    padding: 0 0 0 20px;
}

#two_chk_out_edit_adres {
  width:480px;
}

#two_chk_out_edit_adres fieldset {
   width: 100%;
   margin: 0;
}

#two_chk_out_edit_adres label {
    width: 39%;
}
input, textarea, select {
    border: 1px solid #E5E5E5;
    font-family: Verdana,Helvetica,Arial,Tahoma,sans-serif;
    font-size: 0.8em;
    padding: 1px;
    width: 250px;
}
select {
    width: 255px;
    margin-top: 25px;
}
.province-dropdown {
    margin-top: 33px;
}
#phone {
    width: 205px;
}
textarea {
    margin:  0px 25px;
}
input[type="checkbox"] {
    width: auto;
}
input[type="radio"] {
    width: auto;
}
.new-address-form-title {
    color: #6d6d6d !important;
    font-size: 1.1em;
    text-transform: uppercase;
}
.new-form-label {
    font-size: 13px;
    color: #333;
}
.checkout-empty-cart {
    margin-left: 360px;
}
#address-new {
    padding-left: 75px;
    margin-top: 50px;
}
#form-highlight {
    font-size: 16px;
    color: #8C8F91;
    font-weight: bold;
}
#first-time-address {
    float: left ;
    width: 500px;
    height: 600px;
}
.edit_address {
    width: 650px;
    height: auto;
    margin: 0;
}
fieldset {
    margin-top: 12px;
    height: 53%;
}
.edit_address fieldset {
    width: 500px;
    padding: 0px;
}

.two_page_chk_addres_out_buttons {
    float: left;
}

.two_page_chk_addres_out_buttons p {
    margin: 20px 0 0 0;
}
.add_error {
    font-size:13px;
    font-weight:normal;
    color:red;
    position: absolute;
    left: 202px !important;
}

#shipping-billing-container .add_error {
    left: 172px;
}

.new_addrss_layout h3 {
    margin: 0;
}

#adress_alias {
    margin-top: 16px;
}

.new_addrss_layout #shipping-address fieldset {
    margin-top:0;
}
/*For address popup*/
label {
    float: right;
    font-size: 14px;
    width: 96%;
    color: #444;
}
#my_account em, .edit_address fieldset p em, .formContainer em {
    color: #333;
}
/*Payment page Payment-execution.tpl*/
#cod_desc {
    margin: 25px 0 0;
}

.spc-payment-page {
    position:absolute;
    margin: 20px 0 0 760px;
}

#payment_buttons {
    width: 100%;
    margin: 25px 0 0 0px;
}

#default_payment_option.selected_1 , #default_payment_option.not_selected_1 {
    border: 1px solid #e0e0e0;
    background: -webkit-gradient(linear, left top, left bottom, from(#FBFBFB), to(#EEE));
    background: -webkit-linear-gradient(top, #FBFBFB, #EEE);
    background: -moz-linear-gradient(top, #FBFBFB, #EEE);
    background: -ms-linear-gradient(top, #FBFBFB, #EEE);
    background: -o-linear-gradient(top, #FBFBFB, #EEE);
    background: linear-gradient(to bottom, #FBFBFB, #EEE);
    color: #ADADAD;
     /* IE6 & IE7 */
    filter:  progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#FBFBFB, endColorstr=#eeeeee);
     /* IE8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#FBFBFB', endColorstr='#eeeeee')";
    font-size: 13px;
    font-weight: bold;
    height: 30px;
    margin: 1px;
    padding: 2px;
    width: 117px;
}

#cod.selected_2 , #cod.not_selected_2 {
    border: 1px solid #e0e0e0;
    background: -webkit-gradient(linear, left top, left bottom, from(#FBFBFB), to(#EEE));
    background: -webkit-linear-gradient(top, #FBFBFB, #EEE);
    background: -moz-linear-gradient(top, #FBFBFB, #EEE);
    background: -ms-linear-gradient(top, #FBFBFB, #EEE);
    background: -o-linear-gradient(top, #FBFBFB, #EEE);
    background: linear-gradient(to bottom, #FBFBFB, #EEE);
    color: #ADADAD;
    /* IE6 & IE7 */
    filter:  progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#FBFBFB, endColorstr=#eeeeee);
    /* IE8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#FBFBFB', endColorstr='#eeeeee')";
    font-size: 13px;
    font-weight: bold;
    height: 30px;
    margin: 1px;
    padding: 2px;
    width: 135px;
}

#default_payment_option.selected_1 , #cod.selected_2 {
    background: -webkit-gradient(linear, left top, left bottom, from(#EF5BA1), to(#F2018A));
    background: -webkit-linear-gradient(top, #EF5BA1, #F2018A);
    background: -moz-linear-gradient(top, #EF5BA1, #F2018A);
    background: -ms-linear-gradient(top, #EF5BA1, #F2018A);
    background: -o-linear-gradient(top, #EF5BA1, #F2018A);
    background: linear-gradient(to bottom, #EF5BA1, #F2018A);
   color: #FFFFFF;
    /* IE6 & IE7 */
    filter:  progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#EF5BA1, endColorstr=#F2018A);
    /* IE8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#EF5BA1', endColorstr='#F2018A')";
}
#shoppingbanners{
    height: 110px;
    width:98%;
    margin: 25px 0 0;
}
#kargo_image ,#kapida_image ,#taksit_image ,#numara_image{
   height: 50px;
    width:149px;
    float: left;
}
#kargo_image{
     background: url("../img/buttons/banners-shopping-cart .gif") no-repeat;
   }
#kapida_image{
     background: url("../img/buttons/banners-shopping-cart .gif") no-repeat scroll -148px 0 transparent;
      margin: 0 0 0 2px;
   }
#taksit_image{
        background: url("../img/buttons/banners-shopping-cart .gif") no-repeat scroll -297px 0 transparent;
        margin: 10px 0 0;
}
#numara_image{
      background: url("../img/buttons/banners-shopping-cart .gif") no-repeat scroll -446px 0 transparent;
       margin: 10px 0 0 3px;
}
#kargo_image:hover{
      background-position:  0 -51px;
   }
#kapida_image:hover{
     background-position: -148px -51px;
    }
#taksit_image:hover{
       background-position: -297px -51px;
   }
#numara_image:hover{
      background-position: -446px -51px;
    }

.ykb_joker_vada_campaign_83 {
    margin: 17px auto 0 auto;
    width: 310px;
    height: 100px;
    background: transparent url("../../../modules/pgy/assets/ykb_worldcard_campaign_83.jpg") no-repeat;
}

/*Payment page Payment-execution.tpl*/
.bill-same-as-ship{
    margin: 0 185px;
}

#two_chk_out_edit_adres fieldset label{
    font-family: Arial;
    font-weight: bold;
    font-size: 13px;
    color: #6d6d6d;    
}

.newaddalgn{
    float: right;
    margin-right: 103px;
}

.new_chkout_label fieldset label{
    margin-right: 15px;
    text-align: right;
}

/*.two_chk_out_edit_label{
    float: left;
    margin-left: 202px;
    margin-right: 0.4em;
    width: auto;
}*/