/*
    Document   : singlepage-checkout
    Created on : 11 Oct, 2012, 11:19:46 AM
    Author     : gangadhar
    Description:
        Purpose of the stylesheet follows.
*/

/*Cart-page - order step 1*/
#cart_empty {
    margin: 20px auto;
}

.right-cart-details-table tr.cart_total_price {
    float:left;
    text-align: left;
}

.cart_total_price {
    float: right;
    font-size: 0.9em;
    padding: 0 8px 0 0;
    width: auto;
}

table#cart_summary tr.cart_total_delivery #total_shipping {
    font-size: 0.9em;
    font-weight: bold;
    padding: 0 28px 0 0;
    text-align: right;
}

div.cart_navigation .ctn-button {
    background: url("../img/buttons/order-continue.gif") no-repeat scroll 0 0 transparent;
    border: medium none;
    float: right;
    height: 33px;
    width: 168px;
}

table#cart_summary {
    margin: 20px 0 0;
    width: 960px;
}

.btn-place-order {
    background: url("../img/buttons/order-continue.gif") no-repeat scroll 0 0 transparent;
    border: medium none;
    height: 40px;
    width: 212px;
}

.cart-bottom {
    margin: 150px 0 0 0;
}

#voucher .buttonsmall {
      padding: 0.38em 3em;

}

#voucher .buttonsmall:hover {
    background: #21c7f7;
    color: #fff;
    background: -webkit-gradient(linear, left top, left bottom, from(#21c7f7), to(#21c7f7));
    background: -moz-linear-gradient(top,  #21c7f7,  #21c7f7);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#21c7f7',endColorstr='#21c7f7');
}

#cart_empty a.buttonsmall {
    padding: 0.7em 2em 0 2em;
    margin: 0 0 0 85px;
}

#cart_empty a.buttonmedium{
    margin: 0px 32px 0 85px;
    top: 20px;
    position: relative;
}
/*Cart-page - order step 1*/

/*Right Cart Details - order step 2*/
.spc-left-part {
    margin-top: 20px;
    width: 635px;
    float:left;
}

.link-underline {
    float: right;
/*    padding: 0 1px 0 0;*/
/*    text-align: right;*/
    text-decoration: underline;
/*    width: 105px;*/
}

#cart-details {
    float: right;
    position: relative;
}

.price {
    font-size: 0.9em;
    text-align: right;
    padding: 0 15px 0 0;
    font-weight: bold;
}

.price span {
    color: #F2018A;
}

#order .right-cart-details-table {
     border-collapse: separate;
}

.right-cart-details-table {
    width: 310px;
}

.right-cart-details-table thead tr {
    height: 40px;
}

.right-cart-details-table thead tr th {
    text-align: left;
    background-color: #EEE;
}

.right-cart-details-table thead .left-th {
   border-radius: 5px 0 0 0;
    padding: 0 0 0 13px;
    width: 185px;
}

.right-cart-details-table thead .right-th {
    border-radius: 0 5px 0 0;
    padding: 0 11px 0 0;
    width: 110px;
}

.right-cart-details-table tr {
    width: 150px;
    alignment-adjust: central;
    height: 15px;
}

tr.cart_item{
    height: 75px;
}

.cart_total{
    font-size: 0.8em;
    text-align: center;
}

.cart_total span {
   color: #F2018A;
}

td.hr-rule {
    border-top: solid 1px #EEE;
    height: 1px;
}

tr.cart_total_label {
    font-size: 18px;
    height: 20px;
}

.cart_total_label #spc-total-price {
    text-align: right;
}

tr.cart_total_price {
    font-size: 18px;
    height: 20px;
}
/*Right Cart Details*/

/*Address Page*/
.spc-right-part {
    margin-top: 20px;
    float:right;
}

.spc-order-steps li {
    float: left;
    width:150px;
    text-align: center;
    height: 40px;
    font-weight: bold;
    line-height: 3.1em;
}

.spc-order-steps li a {
    color: #F2018A;
    font-size: 14px;
    display:block;
    height:39px;
    background-color: #EEE;
    text-transform: uppercase;
    border: 1px solid #EEE;
    border-bottom:none;
    border-radius: 5px 5px 0 0;
}

.spc-order-steps li a:hover {
    color: #000;
}

.spc-order-steps li.selected {
    position: relative;
}

.spc-order-steps li.selected a {
    background-color: #fff;
    border: 1px solid #D1D1D1;
    color: #545454;
    height: 40px;
    border-bottom: none;
    border-radius: 5px 5px 0 0;
    width: 148px;
}

.spc-order-steps li.un-selected a {
    color: #F643C6;
}

.spc-order-steps li:first-child {
     margin: 0 5px 0 0;
}

.payment_addresses , #payment_methods{
    border: 1px solid #D1D1D1 ;
    float: left;
    margin: 0;
    padding: 12px 12px 0;
    width: 609px;
    border-radius: 0 5px 5px 5px;
}

#payment_methods {
    border: 1px solid #D1D1D1 ;
    padding: 0 12px 15px 12px;
    width: 609px;
    float: left;
    height: auto;
}

.addresses_delivery,.addresses_invoice, #same_as_delivery {
    float: left;
    width: 100%
}

li.address_alias {
    margin: 0 0 3px 0;
}

.payment_address{
    cursor:pointer;
}

.payment_address, .new-address {
    width: 295px;
    height: 150px;
    float: left;
    border: 1px solid #D1D1D1;
    margin-bottom: 17px;
    background-color: white;
    position: relative;
}

#same_as_delivery {
    margin: 5px 0 20px 0;
}

#same_as_delivery label{
    cursor:pointer;
}

.address-type-con{
    display: inline-block;
}

.address-type-con .address-name-con{
    font-size:22px;
    margin-bottom: 15px;
    color:#545454;
}
.delivery-address-con  > .address-name-con{
    margin-top:10px;
}

.payment_address .radio {
    position: absolute;
    left: 9px;
    top: 54px;
    width: 12px;
    height: 13px;
    cursor: pointer;
}

#addresss_buttons {
    bottom: 6px;
    left: 27px;
    margin: 0;
    position: absolute;

}

p.edit-address , .delete-address, .add_bar {
   float:left;
}

p.edit-address , .delete-address {
    margin: 0;
    cursor: pointer;
    font-family: arial;
    font-size: 1em;
    text-decoration: underline;
}

.add_bar {
   margin: 2px 4px 0;
}

.delete-address {
    left: 86px;
    color: #6D6E71;
}

.edit-address:hover,.delete-address:hover {
    text-decoration: none;
}

.add_bar {
    border-right: 1px solid;
    height: 12px;
    margin: 4px 5px 0;
    width: 1px;
}


.payment_addresses .ad_even {
    margin-left: 15px;
    margin-right: 0;
}

.payment_address.current{
    background-color: #E7E7E7;
}

.payment_address ul {
    left: 30px;
    position: absolute;
    top: 8px;
    width: 84%;
}

.cart_address {
    float: right;
    margin: 20px 0 0;
}

#address_label p {
    font-size: 1em;
    font-weight: bold;
    color: #F2018A;

}

.address_state, .address_Country, .address_postcode {
    float:left;
    text-align: left;
    padding: 0 10px 0 0;
}

.current_address {
    background:url("../img/buttons/tick.gif") no-repeat 0 2px;
    bottom: 6px;
    color: #F2018A;
    position: absolute;
    right: 12px;
    padding: 0 0 0 17px;
}

.add_new_address p, .new-address p {
    cursor: pointer;
    position: absolute;
    top: 42%;
    width: 295px;
    text-align: center;
    font-weight: bold;
    font-size: 1.1em;
}

.new_addrs, .newAdress {
    background: url("../img/buttons/pinkarrow.png") no-repeat scroll right 3px transparent;
    color: #F2018A;
    padding: 0 9px 0 0;
    text-transform: uppercase
}


#address_label {
    margin:5px 0 0 30px;
}

.new_addrs:hover,a.newAdress:hover {
    text-decoration: underline;
}

.address-details {
    margin:0;
}

.address_update {
    font-size: 14px;
    font-weight: bold;
    margin: 10px 0 0;
}

.address-edit {
     height:33px;
     weight:198px;
     margin: 38px 0 0 0;
}

.spc-address-footer {
    float: left;
    margin: 100px 0 0;
}

/*For address popup*/
#shipping-address {
    border: medium none;
    float: none;
    padding: 0;
    width: 100%;
}

.new_addrss_layout,#two_chk_out_edit_adres {
    padding: 0 0 0 20px;
}

#two_chk_out_edit_adres {
  width:480px;
}

#two_chk_out_edit_adres fieldset {
   width: 100%;
   margin: 0;
}

#two_chk_out_edit_adres label {
    width: 39%;
}

.edit_address {
    margin: 0;
}

.two_page_chk_addres_out_buttons {
    float: left;
}

.two_page_chk_addres_out_buttons p {
    margin: 20px 0 0 0;
}

.edit_address p {
    position: relative;
}

.add_error {
    font-size:13px;
    font-weight:normal;
    color:red;
    position: absolute;
    left: 186px;
}
.edit_address fieldset p {
    margin-top: 0px;
}
#shipping-billing-container .add_error {
    left: 172px;
}

.new_addrss_layout h3 {
    margin: 0;
}

#adress_alias {
    margin-top: 16px;
}

.new_addrss_layout #shipping-address fieldset {
    margin-top:0;
}
/*For address popup*/

/*Payment page Payment-execution.tpl*/
#cod_desc {
    margin: 25px 0 0;
}

.spc-payment-page {
    position:absolute;
    margin: 20px 0 0 760px;
}

#payment_buttons {
    width: 100%;
    margin: 25px 0 0 0px;
}

#default_payment_option.selected_1 , #default_payment_option.not_selected_1 {
    background: url("../img/buttons/spc-payment-options.gif") no-repeat;
    height: 23px;
    width:168px;
    background-position:  0 -23px;
}

#default_payment_option.not_selected_1 {
    background-position:  0 0;
}

#cod.selected_2 , #cod.not_selected_2 {
    background: url("../img/buttons/spc-payment-options.gif") no-repeat;
    height: 23px;
    margin: 0 48px;
    width:168px;
    background-position:  0 -69px;
}

#cod.not_selected_2 {
    background-position: 0 -46px
}

#turkcell_wallet.selected_3 , #turkcell_wallet.not_selected_3 {
    background: url("../img/buttons/spc-payment-options.gif") no-repeat;
    height: 23px;
    width:168px;
    background-position:  0 -115px;
}

#turkcell_wallet.not_selected_3 {
    background-position: 0 -92px;
}
#shoppingbanners{
     height: 110px;
    width:310px;
       margin: 32px 0 0;
}
#kargo_image ,#kapida_image ,#taksit_image ,#numara_image{
   height: 50px;
    width:149px;
    float: left;
}
#kargo_image{
     background: url("../img/buttons/banners-shopping-cart .gif") no-repeat;
   }
#kapida_image{
     background: url("../img/buttons/banners-shopping-cart .gif") no-repeat scroll -148px 0 transparent;
      margin: 0 0 0 2px;
   }
#taksit_image{
        background: url("../img/buttons/banners-shopping-cart .gif") no-repeat scroll -297px 0 transparent;
        margin: 10px 0 0;
}
#numara_image{
      background: url("../img/buttons/banners-shopping-cart .gif") no-repeat scroll -446px 0 transparent;
       margin: 10px 0 0 3px;
}
#kargo_image:hover{
      background-position:  0 -51px;
   }
#kapida_image:hover{
     background-position: -148px -51px;
    }
#taksit_image:hover{
       background-position: -297px -51px;
   }
#numara_image:hover{
      background-position: -446px -51px;
    }

.ykb_joker_vada_campaign_83 {
    margin: 17px auto 0 auto;
    width: 310px;
    height: 100px;
    background: transparent url("../../../modules/pgy/assets/new_ykb_worldcard_campaign_83.gif") no-repeat;
}

/*Payment page Payment-execution.tpl*/
