/*
    Document    : stylesurvey
    Created on  : Mar 17, 2011, 3:03:32 PM
    Author      : Shiva
    Description : Style Survey stylings.
*/

.style_survey {
	width: 946px;
	margin: 0 auto;
}
#quiz {
    float: left;
	width: 930px;
	padding: 20px 0;
	margin: 25px 0;
	border: 8px solid #ff54a4;
}
#quiz .stripNav {
    display: none;
}
#quiz .inner {
	float: left;
	width: 885px;
	height: 432px;
	padding: 0 22px;
}
.stripViewer {
	position: relative;
	overflow: hidden;
	height: 432px;
}
#quiz .panelContainer {
    left: 0;
    position: relative;
    top: 0;
}
#quiz .panelContainer .panel {
    float: left;
    height: 100%;
    position: relative;
    width: 930px;
	margin-right: 0px;
}
#skip_survey_link, #skip_survey_link_1 {
    float: left;
    font-size: 13px;
    font-weight: bold;
    color: #F2018A;
    margin: -3% 0 0 90%;
}
#quiz .question {
    float: left;
	font-family: HelveticaCE35ThinRegular, 'Oswald', Museo100Reg;
    font-size: 2em;
	line-height: 1em;
    color: #F2018A;
    width: 98%;
}
#quiz .choices {
    float: left;
    margin:25px 0 20px 0;
    width: 100%;
}
#quiz .celeb .name {
    color: #260c0c;
    float: left;
    font-weight: bold;
    text-align: center;
    width: 230px;
}
#quiz .celeb .name a {
    border: 1px solid #ff54a4;
    float: left;
    margin-bottom: 10px;
    padding: 10px;
    width: 210px;
}
#quiz .celeb .name a:hover
{
	border:3px solid #F2018A;
	padding:8px;
}
#quiz .celeb .gap {
    margin: 0 95px;
}

#quiz .shoe_button
{
    float:left;
	width:175px;
    height: 85px;
	margin: 0 35px 5px 10px;
	cursor: pointer;
	padding: 3px;
}
#quiz span.shoe_image
{
    float:left;
	padding: 0px 0 0 5px;
}
#quiz span.shoe_name
{
    float:left;
    color:#260c0c;
    font-weight: bold;
    font-size: 1.2em;
	margin: 25px 0 0;
	width: 100px;
}
#quiz .shoe_button:hover, #quiz .shoe .selected
{
    border: 3px solid #F2018A;
    padding: 0;
}
#quiz .color_button
{
    float:left;
	height: 85px;
    width: 185px;
	cursor: pointer;
    margin: 20px 25px 0 10px;
    padding:3px;
}
#quiz .color_image
{
    float:left;
    padding: 10px 0 0 13px;
}
#quiz .color_name{
    float:left;
    color:#260c0c;
    font-weight: bold;
    font-size: 1.2em;
    margin: 0 0 0 29px;
    line-height: 5em;
}
#quiz .color_button:hover, #quiz .color .selected, #quiz .color_button:active
{
    border: 3px solid #F2018A;
    padding: 0;
}


.ques-row {
	float:left;
	height: 137px;
	margin: 10px 0 0;
	width:880px;
}
.ques-left {
	float:left;
	width:118px;
	text-align:center;
}
.ques-left span {
	font-family: Museo500Reg;
	font-size: 1.6em;
	color:#F2018A;
}
.ques-left img {
	margin: 15px 0 0;
}
.ques-row .multiCol {
	float:left;
	margin: 3px 0 0 10px;
}
.ques-row .shoeCol {
	margin: 22px 0 0 45px;
}
.ques-row .shoeCol .col {
	margin: 0 0 0 29px;
}
.ques-row .shoeCol div.first {
	margin: 0;
}
.ques-row .col {
	float:left;
	margin-left: 35px;
}
.ques-row .col a {
	border:1px solid #ffa4cf;
	display: block;
	font-family: Museo700Reg;
	font-size: 2em;
	color:#F2018A;
}
.ageCol .col a, .dressCol .col a {
	padding: 55px 12px;
	text-align: center;
	width: 89px;
}
.ageCol .col a:hover, .ageCol .col a.selected, .dressCol .col a:hover, .dressCol .col a.selected {
	border: 3px solid #F2018A;
	padding: 53px 10px;
}
.shoeCol .col a {
	padding:20px 16px;
	text-align: center;
}
.shoeCol .col a:hover, .shoeCol .col a.selected {
	border: 3px solid #F2018A;
	padding: 18px 14px;
}
.ques-row-auto-width {
	border-top: 2px dotted #ffa4cf;
	border-bottom: 2px dotted #ffa4cf;
	height: 79px;
	padding: 14px 0;
}

.ques-row-auto-height{
	height: auto;
}


.continue_survey {
	clear: both;
	margin: 0 auto;
	width: 830px;
	/*height: 50px;*/
	text-align: right;
}
#quiz a.button_continue {
	float: right;
}

#quiz .status {
	background: #FFF;
	border: 1px solid #FF54A4;
	clear: both;
	display: table;
	margin: 0 auto;
	padding: 1px;
	width: 484px;
}
#quiz .status .bar {
	float: left;
	background: #FF54A4;
	border: 1px solid #FF54A4;
	color: #000;
	font-weight: bold;
	height: 19px;
	padding-top: 1px;
	text-align: center;
}
#quiz .status .percent0 { width:2%; }
#quiz .status .percent9 { width:9%; }
#quiz .status .percent19 { width:19%; }
#quiz .status .percent28 { width:28%; }
#quiz .status .percent38 { width:38%; }
#quiz .status .percent47 { width:47%; }
#quiz .status .percent57 { width:57%; }
#quiz .status .percent66 { width:66%; }
#quiz .status .percent76 { width:76%; }
#quiz .status .percent85 { width:85%; }
#quiz .status .percent95 { width:95%; }

.style-note p {
    float:left;
    margin:0 40px;
    font-style: italic;
    color:#6d6e71;
    font-size: 0.8em;
}


#style-profile {
	background: url("../../../img/survey/survey-signup-bg.jpg") no-repeat 0 0;
	float: left;
	height: 545px;
	margin: 1px 0 0 0;
	width:960px;
}
#style-profile > div {
	background: url("../../../img/survey/survey-signup-form-bg.png") no-repeat 0 0;
    /*background: #6E6E6E;
    border: 9px solid #222222;*/
    float: right;
    margin: 40px;
   /* opacity: 0.9;*/
    width: 633px;
	text-align: center;
	height: 438px;
}
#style-profile .error {
/*	margin: 5px 6px;*/
	text-align: left;
}
/*.message{
	left:194px;

}*/
#new_user {
    float: left;
    margin: 10px 0 10px 110px;
    width: 320px;
}
#new_user fieldset {
	border: 0;
}
#new_user fieldset p{
	font-size:1em;
	margin: 0 0 10px;
}
#new_user label {
	float: left;
	margin:0 10px 0 0;
	font-weight: bold;
	font-size: 1.1em;
	color: #fff;
	width: 114px;
	text-align: right;
}
#new_user input.sstext {
	width: 190px;
}
#new_user input.email_exists {
    background: #ccc;
}
#new_user input.sp_result {
	background: url("../../../img/survey/result-btn.png") no-repeat 0 0;
	width: 144px;
	height: 35px;
	float: right;
	border: 0;
}
#sponser-email {
	float: left;
    width: 100%;
	margin-top: 10px;
}
.continue_survey .buttonsmall{
    padding: 1em 2em 0;
}
.buttonlarge{
 margin: -5px 0 0 123px;
/*top: -10px;*/
position: relative;
}

#style-survey-success{
    float:left;
    margin: 1px 5px 0;
    height:545px;
    width:960px;
}
.survey-social-link{
    position:absolute;
    margin:465px 0 0 680px;
}

.survey-social-link ul li h4{
    color: black;
    text-transform: uppercase;
    font-family: 'Oswald';
    font-size: 1.8em;
    font-weight: normal;
    line-height: 1em;
    margin: 0 40px 0 0;
}