.customerVouchersPageContainer {
    float: left;
}

.customerVouchersTable {
    margin-top: 30px;
    border-collapse: collapse;
}

.customerVouchersTable .even {
    background: #f7f7f7;
}

.customerVouchersTable .spent {
    background: #fec1c1;
}

.customerVouchersTable th {
    padding-bottom: 10px;
}

.customerVouchersTable th, .customerVouchersTable td {
    text-align: left;
    font-size: 12px;
    padding: 3px 8px;
}

.customerVouchersTable td {
    border: 1px solid #8e8e8e;
}

.customerVouchersTable td img {
    vertical-align: middle;
}

.customerVouchersTable .value {
    width: 80px;
}

.customerVouchersTable .description {
    width: 150px;
}

.customerVouchersTable .cumulable {
    width: 100px;
}

.customerVouchersTable .cumulable_reduction {
    width: 100px;
}

.customerVouchersTable .cumulable,
.customerVouchersTable .cumulable_reduction,
.customerVouchersTable .active {
    text-align: center;
}
