#waiting_bg {
	background: url("../img/showroom/24_showroom_bg.jpg") no-repeat scroll 0 0 transparent;
	height: 470px;
    margin-top: 1px;
    width: 100%;
}
#waiting_bg a {
	display: block;
    height: 34px;
    left: 340px;
    position: relative;
    text-indent: -99999px;
    top: 360px;
    width: 268px;
}
