/*collections css*/
#collections {
	float: left;
	height: 200px;
/*	margin: 0 0 0 43px;*/
}
#cols-content {
	float: left;
	height: 190px;
}
#cols-content .motor-container-horizontal {
    width:900px;
	padding: 0 35px;
}
#cols-content .motor-clip-horizontal {
    width:900px;
}
#cols-list li {
    float: left;
    display: inline;
	padding-right: 5px;
    width: 295px;
    height:174px;
}
#cols-list li a {
	display: block;
	width: 295px;
    height:174px;
	position: relative;
}
#cols-list li .collection_pop_up {
	 background: url("../../../img/collections/bg_box_links.gif") repeat-x scroll 0 0 transparent;
    bottom: 0;
    color: #FFFFFF;
    cursor: pointer;
/*    display: block;*/
    font-size: 13px;
/*    font-weight: normal;*/
    height: 25px;
    line-height: 25px;
    margin: 0;
    padding: 0 10px;
    position: absolute;
    text-transform: uppercase;
    width: 271px;
	float: left;
	bottom: 0;
	left: 0;
/*	top:0;*/
	right: 0;
}
#cols-list li p.collection_pop_up:hover {
	background-position: 0 -26px;
}

/*#cols-list li span {
	background: url("../../../img/collections/links_box.png") no-repeat scroll right 0 transparent;
    height: 25px;
    position: absolute;
    right: 10px;
    top: 5px;
    width: 69px;
}*/

#cols-content .motor-prev-horizontal, #cols-content .motor-next-horizontal {
	cursor: pointer;
	width: 42px;
	height:50px;
	position: absolute;
	top:65px;
	background-position: 0 0;
}

#cols-content .motor-next-horizontal {
	background: url("../../../img/collections/arr-next.png") no-repeat scroll 0 0 transparent;
	right:9px;
}

#cols-content .motor-prev-horizontal {
	background: url("../../../img/collections/arr-prev.png") no-repeat scroll 0 0 transparent;
	left: 2px;
}

#cols-content .motor-next-horizontal:hover,#cols-content .motor-prev-horizontal:hover {
	background-position: -42px 0;
}

/*#cols-content .motor-prev-horizontal:hover {
	background-position: -42px 0;
}*/

#cols-content .motor-prev-disabled {
	 background: url("../../../img/collections/arr-prev.png") no-repeat scroll 0 0 transparent;
	 left: 2px;
	 background-position: -84px 0;
}

#cols-content .motor-next-disabled {
	 background: url("../../../img/collections/arr-next.png") no-repeat scroll 0 0 transparent;
	 right:10px;
	 background-position: -84px 0;
}

#cols-content .motor-next-disabled:hover,#cols-content .motor-prev-disabled:hover {
	 background-position: -84px 0;
}



/*.motor-next-disabled, .motor-prev-disabled {
	display: none !important;
}*/
/*collections css*/