.nav_block{
    float: left;
    width: 100%;
	padding: 20px 0 0 0;
}
.nav_top{
	display: block;
	margin-top:30px;
	margin-bottom: 20px;
}
.nav_block_top_img{
	display: block;
	padding-bottom:5px;
	margin:auto;
}
.nav_block_middle_link{
	display: block;
	margin-top:5px;
	margin:auto;
}

.nav_block_single {
	float: left;
	height: 260px;
    width: 300px;
}

.nav_block_single hr{
	background-color: #C2C2C2;
}

.nav_hr {
	margin: 15px auto 0;
    width: 148px;
}
#nav_auto_padding {
	padding: 0 25px 0 33px;
}
.nav_block_link{
	color: #000000;
    font-size: 13px;
    line-height: 2em;
	float: left;
	text-align: center;
    width: 100%;
}
.nav_block_link a {
	display: block;
}
.nav_block_link span {
	background: url("../../../img/showroom/arrow_pink.png") no-repeat 6px 0;
	display: inline-block;
	width: 10px;
	height: 10px;
}
