.collection_container{
    float: left;
    width: 960px;
	padding: 20px 0 0 0;
}
.collection_single_hover{
	float: left;
/*	height: 186px;*/
	position: relative;
    width: 309px;
}
.collection_single_hover.middle {
    padding: 0 16px;
}
.collection_link{
	display: block;
}
.collection_container div a:hover p{
	background-position: 0 -26px;
}
.collection_container div a p {
	background: url("../../../img/home/bg_box_links.gif") repeat-x 0 0;
    bottom: 0;
    color: #FFFFFF;
    display: block;
    font-size: 13px;
    font-weight: normal;
    height: 25px;
    line-height: 25px;
    margin-bottom: 0;
    padding: 0 10px;
    position: relative;
    text-transform: uppercase;
    width: 289px;
	cursor: pointer;
}
.collection_container .go_button p span{
	background-position: 25px -26px;
}
.collection_container div p span {
    background: url("../../../img/home/links_box.png") no-repeat right 0;
    height: 25px;
    position: absolute;
    right: 10px;
    top: 5px;
    width: 69px;

}
