.nav_block{
    float: left;
    width: 100%;
	padding: 20px 0 0 0;
/*	height: 335px;*/
}
.nav_top{
	display: block;
	margin-top:30px;
	margin-bottom: 20px;
}
.nav_block_top_img{
	display: block;
	padding-bottom:5px;
	margin:auto;
/*	margin-bottom: 20px;*/
}
.nav_block_middle_link{
	display: block;
	margin-top:5px;
	margin:auto;
/*	margin-bottom: 20px;*/
}

.nav_single_hover {
	float: left;
	height: 260px;
/*	position: relative;*/
    width: 309px;
}
.top{
	height:20px;
}
.nav_single_hover hr{
/*	background: url("../../../img/showroom/arrow_pink.png") no-repeat scroll 0 0 transparent;*/
	background-color: #C2C2C2;
    display: block;
    float: none;
    margin: 15px auto;
    width: 148px;
}

.nav_block_p{
/*	background: url("../../../img/showroom/arrow_pink.png") no-repeat scroll 147px 8px transparent;*/
	color: #000000;
    font-size: 13px;
    line-height: 2em;
/*    text-align: center;
    width: 148px;
	margin:auto;*/
	margin-left: 85px;
}

.nav_block_bottom_link{
	float: left;

}

.nav_block_bottom_arrow{
	background: url("../../../img/showroom/arrow_pink.png") no-repeat scroll 5px 8px transparent;
	float: left;
    height: 20px;
    width: 9px;
}

#nav_last{
	margin-left: 135px;
}
#nav_block1 {
color: white;
position: relative;
padding: 0 0 0 160px;
font-family: oswald;
font-size: 27px;
top: 12px;
width: 798px;
height: 52px;
background-color: black;
}

 #nav_block1 span {
top: 10px;
left: 25px;
position: absolute;
color: white;
width: 660px;
line-height: 32px;
}
