.jcarousel-skin-container {
  float:left;
  width: 1000px;
  display: block;
  position:relative;
  /*background: #f31b96;*/
}
.jcarousel-skin-container .jcarousel-container {
	padding:0;
}
.jcarousel-skin-container .jcarousel-container-horizontal {
    padding: 0;
}
.jcarousel-skin-container .jcarousel-clip-horizontal {
	height: 390px;
    width: 1000px;
    floaT:left;
    margin: 0;
}
.jcarousel-skin-container .jcarousel-item {
    height: 390px;
    width: 1000px;
}
/*.jcarousel-skin-container .jcarousel-item-horizontal {
    margin-right: 10px;
}*/
.jcarousel-skin-container .jcarousel-item-placeholder {
    background: #fff;
    color: #000;
}
/* Horizontal Buttons */
.jcarousel-skin-container .jcarousel-next-horizontal,
.jcarousel-skin-container .jcarousel-prev-horizontal {
  top: 173px;
  right: 20px;
  width: 32px;
  height: 44px;
  cursor: pointer;
  background: transparent url(../img/prefabs/slide-right.png) no-repeat 0 0;
  position: absolute;
}


.jcarousel-skin-container .jcarousel-next-disabled-horizontal,
.jcarousel-skin-container .jcarousel-next-disabled-horizontal:hover,
.jcarousel-skin-container .jcarousel-next-disabled-horizontal:active {
    cursor: default;
}
.jcarousel-skin-container .jcarousel-prev-horizontal {
  background: transparent url(../img/prefabs/slide-left.png) no-repeat 0 0;
  left: 20px;
}

.jcarousel-skin-container .jcarousel-prev-disabled-horizontal,
.jcarousel-skin-container .jcarousel-prev-disabled-horizontal:hover,
.jcarousel-skin-container .jcarousel-prev-disabled-horizontal:active {
    cursor: default;
}

