#todaysDiscount {
    background-color: #000;
    float:left;
    width:98%;
    margin:0 0 25px 0;
    height: 75px;
    text-align: center;
    padding: 10px;
}

#todaysDiscount span {
    color: #F2018A;
    float: left;
    font-family: 'Oswald';
    width: 100%;
    font-size: 1.8em;
    margin: 10px 0;
    text-transform: uppercase;
}
