/*collections css*/
#collections {
	float: left;
	height: 200px;
/*	margin: 0 0 0 43px;*/
}
#cols-content {
	float: left;
	height: 190px;
    overflow: hidden;
}
.motor-container .motor-container-horizontal{
    width:900px;
	display: block;
    position: relative;padding: 0 35px;

}
#cols-content {
    width:900px;
	padding: 0 35px;
}
#cols-content .motor-clip-horizontal {
    width:900px;
}
#cols-list li {
    float: left;
    display: inline;
	padding-right: 5px;
    width: 295px;
    height:174px;
}
#cols-list li.motor-item-4,#cols-list li.motor-item-5 ,#cols-list li.motor-item-6  { float:left; display:inline; width: 295px; height:174px; list-style: none }
#cols-list li a {
	display: block;
	width: 295px;
    height:174px;
	position: relative;
}
#cols-list li .collection_name {
	background: url("../../../img/collections/bg_box_links.gif") repeat-x scroll 0 0 transparent;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 13px;
    height: 25px;
    line-height: 25px;
    margin: 0;
    padding: 0 10px;
    position: absolute;
    text-transform: uppercase;
    width: 271px;
	float: left;
	bottom: 0;
	left: 0;
}
#cols-list li p.collection_name:hover {
	background-position: 0 -26px;
}
/*#cols-list li span {
	background: url("../../../img/collections/links_box.png") no-repeat scroll right 0 transparent;
    height: 25px;
    position: absolute;
    right: 10px;
    top: 5px;
    width: 69px;
}*/
#cols-content .motor-prev-horizontal, #cols-content .motor-next-horizontal {
	cursor: pointer;
	width: 42px;
	height:50px;
	position: absolute;
	top:65px;
    margin-left: -35px;
    margin-right: -30px;
	background-position: 0 0;
}
#cols-content .motor-prev-horizontal, #cols-content .motor-prev-disabled {
	background: url("../../../img/collections/arr-prev.png") no-repeat scroll 0 0 transparent;
	left: 2px;
}
#cols-content .motor-next-horizontal, #cols-content .motor-next-disabled {
	background: url("../../../img/collections/arr-next.png") no-repeat scroll 0 0 transparent;
	right: 9px;
}
#cols-content .motor-prev-horizontal:hover,
#cols-content .motor-next-horizontal:hover {
	background-position: -42px 0;
}
#cols-content .motor-prev-disabled,
#cols-content .motor-prev-disabled:hover,
#cols-content .motor-next-disabled,
#cols-content .motor-next-disabled:hover {
	cursor: default;
	background-position: -84px 0;
}
/*collections css*/
